<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Error</title>
	<link th:href="@{/styles/errorYggdrasil.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="error-box">
    <h1>Oops! Something went wrong.</h1>
	    <p>There was a problem with the server. Please try refreshing the page.</p>
	    <p>If the problem persists, contact support.</p>
	    <a href="../home"  class="btn btn-outline-info">Return to Home</a>
	    </br>
	    <a href="javascript:location.reload()" >Try refreshing the page</a>
    </div>
</body>
</html>
