<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

</head>

<body>
<div id="wrapper" th:fragment="sidebar">

    <!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar"  style="background-color: #05144a;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <span class="material-symbols-outlined">
                calculate
            </span>
        </div>
        <div class="sidebar-brand-text mx-3">Control Presupuestario</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <span class="material-symbols-outlined">
                home
            </span>
            <span>Home</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Administrables
    </div>

    <!-- Menús asociados al rol 
<div class="py-2 collapse-inner rounded">
    <ul class="navbar-nav sidebar sidebar-dark accordion" style="background-color: #05144a;">
        <li th:each="menuRole : ${menuRoles}" class="nav-item active">
            <a class="nav-link" th:href="${menuRole.url}" th:attr="target=${menuRole.url == '/'} ? '_blank' : null">
                <span class="material-symbols-outlined" th:text="${menuRole.icono}"></span>
                <span th:text="${menuRole.nombre}"></span>
            </a>

            
            <ul th:if="${menuRole.subMenus.size() > 0}">
                <li th:each="subMenu : ${menuRole.subMenus}">
                    <a class="nav-link" th:href="${subMenu.url}">
                        <span class="material-symbols-outlined" th:text="${subMenu.icono}"></span>
                        <span th:text="${subMenu.nombre}"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
-->
<div class="py-2 collapse-inner rounded">
    <li th:each="menuRole : ${menuRoles2}" class="nav-item active">
        <a class="nav-link collapsed" th:href="${menuRole.menu.url}" th:attr="target=${menuRole.menu.url == '/'} ? '_blank' : null">
            <span class="material-symbols-outlined" th:text="${menuRole.menu.icono}"></span>
            <span th:text="${menuRole.menu.nombre}"></span> 
            
        </a>
        
        <!-- Acceso a submenús -->
        <ul th:if="${menuRole.menu.subMenus.size() > 0}">
            <li th:each="subMenu : ${menuRole.menu.subMenus}" class="nav-item">
                <a class="nav-link" th:href="${subMenu.url}">
                    <span class="material-symbols-outlined" th:text="${subMenu.icono}"></span>
                    <span th:text="${subMenu.nombre}"></span> 
                </a>
            </li>
        </ul>
    </li>
</div>
    

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

</ul>

    <!-- End of Sidebar -->
</div>
</body>

</html>