<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="design/header :: head">
</head>

<body class="bg-vista-edit-registro" onload="hideMessage()">
    <!-- Mensajes -->
    <div th:if="${message}" id="notificationMessage"
        th:classappend="${messageType == 'success'} ? 'alert alert-success' : 'alert alert-danger'"
        style="padding: 10px; margin-bottom: 15px; border-radius: 5px;">
        <span th:text="${message}"></span>
    </div>

    <div class="container" style="max-width: 900px;">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4" th:if="${project.id!=0}">Edit Project</h1>
                    </div>
                    <!-- Pestañas -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab1">General Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab2">Critical Fields</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab3">Supervisor/Responsible Assignment</a>
                        </li>
                    </ul>

    
                        <!-- Contenido de las pestañas -->
                        <div class="tab-content">
                            <!-- Tab 1: Datos Generales -->
                            <div id="tab1" class="container tab-pane active">
                            <!-- Formulario para Tab 1 -->
                            <form id="miFormulario" class="user" th:action="@{/proyectos/guardarDatosSimples-proyecto}" th:method="post" th:object="${project}" onsubmit="return validateDates()">
                            <input type="hidden" th:field="*{id}" th:value="${project.id}">
                               <div class="row">
							        <div class="col">
		                                <div class="form-group">
		                                    <label for="inputpais" class="form-label">Country</label>
								            <SELECT th:field = "*{pais}"  class="form-control form-control-user"  data-show-subtext="true" data-live-search="true">
												<OPTION th:EACH= "pais : ${paises}" 
														th:VALUE = "${pais.nombre}" th:TEXT = "${pais.nombre}" 
														th:SELECTED ="${project.pais == pais.nombre }"	> 
												</OPTION >		 
											</SELECT>  
									    </div>
		                            </div>
		                            <div class="col">
		                                <div class="form-group">
		                                    <label for="inputgestion" class="form-label">Year</label>
											<select th:field="*{gestion}" class="form-control form-control-user" id="inputgestion" required>
											    <option value="0" th:if="${project.gestion == 0}"> </option>
											    <option value="2024" th:selected="${project.gestion == '2024'}">2024</option>
											    <option value="2025" th:selected="${project.gestion == '2025'}">2025</option>
											</select>
										</div>
		                            </div>
		                        </div>
                               <div class="row">
							        <div class="col">
		                                <div class="form-group">
		                                    <label for="inputcliente" class="form-label">Customer</label>
		                                    <input th:field="*{cliente}" type="text" class="form-control" id="inputcliente" required>
		                                </div>
		                            </div>
		                            <div class="col">
		                                <div class="form-group">
		                                    <label for="inputsigla" class="form-label">Acronym</label>
		                                    <input th:field="*{sigla}" type="text" class="form-control" id="inputsigla" required>
		                                   
		                                </div>
		                            </div>
		                        </div>
                            	<div class="row">
							        <div class="col">
		                                <div class="form-group">
		                                    <label for="inputnombre" class="form-label">Name of project</label>
		                                    <input th:field="*{nombre}" type="text" class="form-control" id="inputnombre" required>
		                                </div>
		                            </div>
		                            <div class="col">
		                                <div class="form-group">
		                                    <label for="inputdescripcion" class="form-label">Description</label>
		                                    <textarea th:field="*{descripcion}" class="form-control" id="inputdescripcion" rows="3" required></textarea>
		                                </div>
		                            </div>
		                        </div>
                            <button type="submit" class="btn btn-primary">SAVE GENERAL DATA</button>
                            </form>
                            </div>

                
							<!-- Tab 2: Campos Críticos -->
							<div id="tab2" class="container tab-pane fade">
						<form id="formTab2" class="user" th:action="@{/proyectos/guardarDatosCriticos-proyecto}" th:method="post" th:object="${project}" onsubmit="return validateDates()">
						<input type="hidden" th:field="*{id}" th:value="${project.id}">
						    <div class="row">
						        <div class="col">
						            <div class="form-group">
						                <label for="inputfechaInicial" class="form-label">Start Date</label>
						                <input th:field="*{fechaInicial}" type="date" class="form-control" id="inputfechaInicial" oninput="formatDate(this)" required>
						            </div>
						        </div>
						        <div class="col">
						            <div class="form-group">
						                <label for="inputfechaFin" class="form-label">End Date</label>
						                <input th:field="*{fechaFin}" type="date" class="form-control" id="inputfechaFin" oninput="formatDate(this)" required>
						            </div>
						        </div>
						    </div>

						        <!-- Modificación del Monto -->
						    <div class="row">
						        <div class="col">
						                <div class="form-group">
						                <label for="inputValorModificacion" class="form-label">Value to Modify (USD)</label>
						                <input type="number" class="form-control" 
						                id="inputValorModificacion" name="inputValorModificacion" step="0.01"  value="0.00" oninput="calculateMontos()">
						                </div>
						        </div>
						        <div class="col">

						        </div>
						    </div>
		
						    <!-- Cálculo de nuevos montos -->
						    <div class="row">
						    	<div class="col">
						    	    <div class="form-group">
						                <label for="inputmontoContrato" class="form-label">Current Contract Amount (USD)</label>
						                <input th:field="*{montoContrato}" type="number" class="form-control form-control-user" id="inputmontoContrato" step="0.01" min="0" readonly>
						            </div>
						    	</div>
						        <div class="col">
						            <div class="form-group">
						                <label for="inputmontoContratoNew" class="form-label">New Contract Amount (USD)</label>
						                <input type="number" class="form-control" id="inputmontoContratoNew" readonly>
						            </div>
						        </div>
						    </div>
						
						    <div class="row">
						        <div class="col">
		                                	<div class="form-group">
												 <label for="inputmontoRecurrente" class="form-label">Recurring Amount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<span th:text="${#numbers.formatDecimal(project.porcentajeRecurrente, 1, 'COMMA', 2, 'POINT')}+ '%'">0.00%</span>
												

												 </label>
				                                 <input th:field="*{montoRecurrente}" type="number" step="0.01" class="form-control form-control-user"
				                                           id="inputmontoRecurrente" readonly >
				                                           
				                                <input th:field="*{porcentajeRecurrente}" type="hidden"  step="0.01" class="form-control form-control-user"
									            id="inputporcentajeRecurrente" placeholder="0.00"  min="0" required oninput="calculateMontos()" readOnly>
				                            </div>  
				                                                            	<div class="form-group">
				                                 <label for="inputmontoNoRecurrente" class="form-label">Non-recurring Amount</label>
				                                 <input th:field="*{montoNoRecurrente}" type="number" step="0.01"  class="form-control form-control-user"
				                                           id="inputmontoNoRecurrente" readonly >
		                                
				                            </div>
						        </div>
						        <div class="col">
						            <div class="form-group">
						                <label for="inputmontoRecurrenteNew" class="form-label">New Recurring AMount</label>
						                <input type="number" class="form-control" id="inputmontoRecurrenteNew" name="inputmontoRecurrenteNew" readonly>
						            </div>
						            <div class="form-group">
						                <label for="inputmontoNoRecurrenteNew" class="form-label">New Non-recurring amount</label>
						                <input type="number" class="form-control" id="inputmontoNoRecurrenteNew" name="inputmontoNoRecurrenteNew" readonly>
						            </div>
						        </div>
						
						    </div>
						    						
						    <div class="row">
						        <div class="col">
						            <div class="form-group"id="modificationReasonContainer" style="display: none;">
										<label for="modificationReason" class="form-label">Justification of the Modification</label>
										<textarea  class="form-control" name="modificationReason" id="modificationReason" rows="4" placeholder="Describe the reason for the changes..."></textarea>
						            </div>
						        </div>
						        <div class="col">
						 
						        </div>
						    </div>
						<button type="submit" class="btn btn-primary">SAVE CRITICAL FIELDS</button>
                        </form>
						</div>
	                        <!-- Tab 3: Asignación de Personal -->
	                        <div id="tab3" class="container tab-pane fade">
	                        <form id="formTab3" class="user" th:action="@{/proyectos/guardarAsignacionPersonal-proyecto}" th:method="post" th:object="${project}">
	                        <input type="hidden"  th:field="*{id}" th:value="${project.id}">
	                            	<div class="row">
	                            		<div class="col">
	                            			<div class="form-group">
			                                    <label for="inputSupervisorAsignado" class="form-label">Assigned Supervisor</label>
	                                            <input type="text" class="form-control form-control-user" 
					                                   id="inputnombreCompletoSupervisor" 
					                                   th:value="${selectedSupervisor}" 
					                                   readOnly>
					                            <input type="hidden"  th:value="${selectedSupervisorId}" name="inputSupervisorAsignado">
			                                </div>
	                            		</div>
						        		<div class="col">
			                                <!-- Checkbox para Asignar Supervisor -->
			                                <div class="form-group">
			                                    <input type="checkbox" name="assignSupervisor" id="assignSupervisor" onclick="toggleSupervisor()">Assign New Supervisor
			                                    <br>
			                                    <select id="supervisor" name="supervisor" disabled>
												    <option value="0" disabled selected>Select staff</option>
												    <option th:each="supervisor : ${beneficiarySupervisor}" 
												            th:if="${supervisor != null and supervisor.id != selectedSupervisorId}"
												            th:value="${supervisor.id}" 
												           
												            th:text="${supervisor+' '+ (supervisor.apellidos != null ? supervisor.apellidos : '') }">
												    </option>
												</select>
			                                </div>
										</div>
										
									</div>
									<div class="row">
	                            		<div class="col">
	                            			<div class="form-group">
			                                    <label for="inputResponsableAsignado" class="form-label">Assign Responsible</label>
			                                    <input type="text" class="form-control form-control-user" 
					                                   id="inputnombreCompletoResponsable" 
					                                   th:value="${selectedResponsable}" 
					                                   readOnly>
					                            <input type="hidden"  th:value="${selectedResponsableId}" name="inputResponsableAsignado">
			                                </div>
	                            		
	                            		</div>
						        		<div class="col">
			                               <!-- Checkbox para Asignar Responsable -->
			                                <div class="form-group">
			                                    <input type="checkbox" name="assignResponsable" id="assignResponsable" onclick="toggleResponsable()"> Assign New Responsible
			                                    <br>
			                                    <select id="responsable" name="responsable" disabled>
			                                        <option value="0" disabled selected>Select staff</option>
			                                        <option th:each="responsable : ${beneficiaryResponsable}"
			                                                th:if="${responsable != null and responsable.id != selectedResponsableId}"
			                                                th:value="${responsable.id}"
			                                                
			                                                th:text="${responsable.nombres+' '+ (responsable.apellidos != null ? responsable.apellidos : '') }">
			                                        </option>
			                                    </select>
			                                </div>
										</div>
										
									</div>
	                        <button class="btn btn-primary btn-user btn-block" onclick="validateForm()">SAVE ASSGIN STAF</button>
	                        </form>
	                        </div>
                        
                        </div>
                        
                        <div class="text-center">
                            <a class="medium" href="/proyectos/lista-proyectos">GO BACK</a>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div th:replace="design/script :: scripts"></div>
    <script>
function formatDate(input) {
    let date = new Date(input.value);
    let formattedDate = (('0' + (date.getMonth() + 1)).slice(-2)) + '/' + 
                        (('0' + date.getDate()).slice(-2)) + '/' + 
                        date.getFullYear();
    input.value = formattedDate;
}
</script>
    <script>
    function validateDates() {
        var startDate = document.getElementById("inputfechaInicial").value;
        var endDate = document.getElementById("inputfechaFin").value;

        if (new Date(startDate) >= new Date(endDate)) {
            alert("La fecha inicial debe ser menor a la fecha de finalización.");
            return false;  // Evita que el formulario se envíe
        }
        return true;  // Permite el envío del formulario
    }
    
    function calculateMontos() {
        var montoContrato = parseFloat(document.getElementById('inputmontoContrato').value) || 0;
        var valorModificacion = parseFloat(document.getElementById('inputValorModificacion').value) || 0;

        // Si el valor es 0, no hacer modificaciones
        if (valorModificacion === 0) {
            document.getElementById('inputmontoContratoNew').value = montoContrato.toFixed(2);
            document.getElementById('inputmontoRecurrenteNew').value = document.getElementById('inputmontoRecurrente').value;
            document.getElementById('inputmontoNoRecurrenteNew').value = document.getElementById('inputmontoNoRecurrente').value;
            return;
        }
        // Calcular nuevo monto del contrato
        var nuevoMontoContrato = montoContrato + valorModificacion;
        // Actualizar campos de la interfaz
        document.getElementById('inputmontoContratoNew').value = nuevoMontoContrato.toFixed(2);

        // Calcular montos recurrente y no recurrente
        var porcentajeRecurrente = parseFloat(document.getElementById('inputporcentajeRecurrente').value) || 0;
        var montoRecurrenteNew = (nuevoMontoContrato * (porcentajeRecurrente / 100)).toFixed(2);
        var montoNoRecurrenteNew = (nuevoMontoContrato * ((100 - porcentajeRecurrente) / 100)).toFixed(2);

        document.getElementById('inputmontoRecurrenteNew').value = montoRecurrenteNew;
        document.getElementById('inputmontoNoRecurrenteNew').value = montoNoRecurrenteNew;
    }

    // Llamar a la función cuando se ingrese un valor
    document.getElementById('inputValorModificacion').addEventListener('input', calculateMontos);
    document.querySelectorAll('input[name="accionMonto"]').forEach(function(radio) {
        radio.addEventListener('change', calculateMontos);
    });



    // Function to add thousand separators
    function formatNumberWithCommas(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
   

    //Validando los combos de SUPERVISOR Y RESPONSABLE
    function toggleSupervisor() {
        const supervisorSelect = document.getElementById("supervisor");
        const assignSupervisorCheck = document.getElementById("assignSupervisor");

        // Habilitar o deshabilitar el combo de supervisor según el checkbox
        supervisorSelect.disabled = !assignSupervisorCheck.checked;
    }

    function toggleResponsable() {
        const responsableSelect = document.getElementById("responsable");
        const assignResponsableCheck = document.getElementById("assignResponsable");
        const assignSupervisorCheck = document.getElementById("assignSupervisor");

        // Si se marca el checkbox de responsable, el de supervisor también debe estar marcado
        if (assignResponsableCheck.checked) {
            assignSupervisorCheck.checked = true;
            toggleSupervisor(); // Asegura que el combo de supervisor se habilite
        }
        
        // Habilitar o deshabilitar el combo de responsable según el checkbox
        responsableSelect.disabled = !assignResponsableCheck.checked;
    }
    //Validamos la seleccion de Check
    function validateForm() {
    const assignSupervisorCheck = document.getElementById("assignSupervisor").checked;
    const assignResponsableCheck = document.getElementById("assignResponsable").checked;
    const supervisorSelect = document.getElementById("supervisor").value;
    const responsableSelect = document.getElementById("responsable").value;

		    // Validar que si está marcado "Asignar Responsable", "Asignar Supervisor" también esté marcado
		    if (assignResponsableCheck && !assignSupervisorCheck) {
		        alert("Debes asignar un supervisor si asignas un responsable.");
		        return false;
		    }
		
		    // Validar que si los checkboxes están marcados, los selects no estén vacíos
		    if (assignSupervisorCheck && supervisorSelect === "0") {
		        alert("Por favor, selecciona un supervisor.");
		        return false;
		    }
		    if (assignResponsableCheck && responsableSelect === "0") {
		        alert("Por favor, selecciona un responsable.");
		        return false;
		    }

	    // Si pasa todas las validaciones, enviar el formulario
	    return true;
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const fechaInicial = document.getElementById("inputfechaInicial");
        const fechaFin = document.getElementById("inputfechaFin");
        const valorModificado = document.getElementById("inputValorModificacion");
        const modificationReasonContainer = document.getElementById("modificationReasonContainer");

        // Función que verifica si hay algún cambio en los campos
        function checkForChanges() {
            if (fechaInicial.value !== fechaInicial.defaultValue || 
                fechaFin.value !== fechaFin.defaultValue || 
                valorModificado.value !== 0){//valorModificado.defaultValue) {
                modificationReasonContainer.style.display = "block";
            } else {
                modificationReasonContainer.style.display = "none";
            }
        }

        // Agrega event listeners para detectar cambios en los campos
        fechaInicial.addEventListener("change", checkForChanges);
        fechaFin.addEventListener("change", checkForChanges);
        valorModificado.addEventListener("change", checkForChanges);
    });
</script>
    <script>
        // Función para prevenir el envío del formulario con la tecla Enter
        function disableEnterKey(event) {
            if (event.key === "Enter") {
                event.preventDefault(); // Previene la acción predeterminada (enviar el formulario)
            }
        }

        // Añadir el listener al cargar el documento
        document.addEventListener("DOMContentLoaded", function() {
            const form = document.getElementById("miFormulario"); // Cambia "miFormulario" por el ID de tu formulario
            form.addEventListener("keypress", disableEnterKey);
        });
    </script>
</body>
</html>
