<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="design/header :: head">
    <title>Lista Usuarios</title>

</head>

<body id="page-top"  onload="hideMessage()">
    <!-- Mostrar el mensaje si está presente -->
    <div th:if="${message}" id="notificationMessage"
        th:classappend="${messageType == 'success'} ? 'alert alert-success' : 'alert alert-danger'"
        style="padding: 10px; margin-bottom: 15px; border-radius: 5px;">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
	    <div th:replace="design/sideBar :: sidebar"></div>
       <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
               <nav th:replace="design/topBar :: topbar"></nav>
                
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
				
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Usuarios</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Usuarios registrados</h6>
                        </div>
                        <div class="card-body">
				            <span th:each="menuRole : ${menuRoles}">
				            	<div class="d-flex justify-content-end">
				                <a th:href="@{/registro-usuario}"
				                   th:if="${menuRole.menu.url == '/lista-usuarios' and menuRole.acreate}" 
				                   class="btn btn-outline-success ">
				                   <i class="fas fa-plus">+ Nuevo Registro</i>
				                </a>
				                </div>
				            </span>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Usuario</th>
                                            <th>Nombre Completo</th>
                                            <th>Email</th>
                                            <th>Rol</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="userAdm : ${userAdms}">
                                            <td th:text="${userAdm.usernamee}"></td>
                                            <td th:text="${userAdm.fullname}"></td>
                                            <td th:text="${userAdm.email}"></td>
                                            <td th:text="${userAdm.perfil.name}"></td>
                                            <td>
                                                <span th:text="${userAdm.estado == 'V' ? 'ACTIVO' : 'INACTIVO'}"
         							 				th:classappend="${userAdm.estado == 'V' ? 'badge bg-success' : 'badge bg-danger'}"></span>
                                            </td>
                                            <td>
                                                        <!-- Iterar sobre menuRoles para comprobar permiso de actualización -->
				            <span th:each="menuRole : ${menuRoles}">
				                <a th:href="@{/ver-usuario/} + ${userAdm.id}"
				                   th:if="${menuRole.menu.url == '/lista-usuarios' and menuRole.aread}" 
				                   class="btn btn-primary btn-circle btn-sm">
				                   <img src="/imagenes/ver.png" alt="ver detalle" width="22px" height="17px">
				                   <i class="fas fa-exclamation-triangle"></i>
				                </a>
				            </span>
				            <span th:each="menuRole : ${menuRoles}">
				                <a th:href="@{/modificar-usuario/} + ${userAdm.id}"
				                   th:if="${menuRole.menu.url == '/lista-usuarios' and menuRole.aupdate}" 
				                   class="btn btn-warning btn-circle btn-sm">
									 <img src="/imagenes/editar.png" alt="editar registro" width="20px" height="20px">
	
				                   <i class="fas fa-exclamation-triangle"></i>
				                </a>
				            </span>
				             <span th:each="menuRole : ${menuRoles}">
				                <a th:href="@{/eliminar-usuario/} + ${userAdm.id}"
				                   th:if="${menuRole.menu.url == '/lista-usuarios' and menuRole.adelete}" 
				                   class="btn btn-danger btn-circle btn-sm">
				                   <img src="/imagenes/eliminar.png" alt="eliminar registro" width="20px" height="20px">
				                   <i class="fas fa-exclamation-triangle"></i>
				                </a>
				            </span>
				            <!-- 
                                                <a th:href="@{/modificar-usuario/} + ${userAdm.id}"
                                                    th:if="${loginUser.perfil.name == 'ADMIN'}" class="btn btn-warning btn-circle">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                </a>
                                                <a th:href="@{/eliminar-usuario/} + ${userAdm.id}"
                                                    th:if="${loginUser.perfil.name == 'ADMIN'}" class="btn btn-danger btn-circle">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                              -->
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
				 
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="design/footerBar :: footerbar"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Listo para irse?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecciona "Logout" si desea cerrar la sesión.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
<div th:replace="design/script :: scripts"></div>

</body>

</html>