<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="design/header :: head">

</head>
<body class="bg-gradient-primary" onload="hideMessage()">
    <!-- Mostrar el mensaje si está presente -->
    <div th:if="${message}" id="notificationMessage"
        th:classappend="${messageType == 'success'} ? 'alert alert-success' : 'alert alert-danger'"
        style="padding: 10px; margin-bottom: 15px; border-radius: 5px;">
        <span th:text="${message}"></span>
    </div>

    <div class="container" style="max-width: 800px;">
        <div class="card o-hidden border-0 shadow-lg my-2">
            <div class="card-body p-0">
                <div>
                    <div>
                        <div class="p-3">
                            <div class="text-center">
                            <h2 th:if="${beneficiary.id==0}">Register Beneficiary</h2>
                            <h2 th:if="${beneficiary.id!=0}">Edit Beneficiary</h2>
                            </div>
                            <form class="user" th:action="@{/beneficiarios/guardar-beneficiario}" th:method="post" th:object="${beneficiary}">
                        
                                <input type="hidden" th:if="${beneficiary.id != 0}" th:field="*{id}" th:value="${beneficiary.id}">

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inputtipo" class="form-label">Beneficiary Type</label>
											<select th:field="*{tipo}" class="form-control form-control-user" id="inputtipo" required>
											    <option value="" th:if="${beneficiary.id == 0}">Select type</option>
											    <option value="Natural Person" th:selected="${beneficiary.tipo == 'Natural Person'}">Natural Person</option>
											    <option value="Legal Entity" th:selected="${beneficiary.tipo == 'Legal Entity'}">Legal Entity</option>
											    <option value="Staff" th:selected="${beneficiary.tipo == 'Staff'}">Staff</option>
											</select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inputdocumento" class="form-label">Identification Document</label>
                                            <input th:field="*{documento}" type="text" class="form-control form-control-user" id="inputdocumento" placeholder="Document Number" required>
                        
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inputnombres" class="form-label">First name</label>
                                            <input th:field="*{nombres}" type="text" class="form-control form-control-user" id="inputnombre" placeholder="Enter first name" required>
                                        
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inputapellidos" class="form-label">Last Name</label>
                                            <input th:field="*{apellidos}" type="text" class="form-control form-control-user" id="inputapellidos" placeholder="Enter Last name" required>
                              
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inputrazonSocial" class="form-label">Company Name</label>
                                            <input th:field="*{razonSocial}" type="text" class="form-control form-control-user" id="inputrazonSocial" placeholder="Company name if applicable">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inputpaisProcedencia" class="form-label">Country origin</label>
												<SELECT th:field ="*{paisProcedencia}" class="form-control form-control-user" id="inputpaisProcedencia"  data-show-subtext="true" data-live-search="true" required>
												<option value="" th:if="${pais.nombre == ''}">Select country</option>
												<OPTION th:EACH= "pais : ${paises}" 
														th:VALUE = "${pais.nombre}" th:TEXT = "${pais.nombre}" >										 
												</OPTION >		 
											</SELECT>  
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inputemail" class="form-label">Email</label>
                                            <input th:field="*{email}" type="email" class="form-control form-control-user" id="inputemail" placeholder="example@gmail.com" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inputtelefonoContacto" class="form-label">Contact phone</label>
                                            <input th:field="*{telefonoContacto}" type="text" class="form-control form-control-user" id="inputtelefonoContacto" placeholder="Contact phone">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inputfechaIngreso" class="form-label">Start Date(if applicable)</label>
                                            <input th:field="*{fechaIngreso}" type="date" class="form-control form-control-user" id="inputfechaIngreso" >
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inputobservacion" class="form-label">Observation</label>
                                            <textarea th:field="*{observacion}" class="form-control form-control-user" id="inputobservacion" placeholder="Observations" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <!-- Mostrar mensaje de error si existe -->
                                <div th:if="${error}" class="alert alert-danger" role="alert" style="color: red;">
                                    <p th:text="${error}"></p>
                                </div>

                                <button class="btn btn-primary btn-user btn-block">
                                    SAVE BENEFICIARY
                                </button>
                                <div class="text-center">
                                    <a class="medium" href="/beneficiarios/lista-beneficiarios">GO BACK!</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- Footer -->
            <footer th:replace="design/footerBar :: footerbar"></footer>
            <!-- End of Footer -->
    <div th:replace="design/script :: scripts"></div>
</body>
</html>






