<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="design/header :: head">
</head>

<body class="bg-gradient-primary" onload="hideMessage()">
    <!-- Mostrar el mensaje si está presente -->
    <div th:if="${message}" id="notificationMessage"
        th:classappend="${messageType == 'success'} ? 'alert alert-success' : 'alert alert-danger'"
        style="padding: 10px; margin-bottom: 15px; border-radius: 5px;">
        <span th:text="${message}"></span>
    </div>
<div class="container" style="width: 90%;">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div>
                <div>
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="h4 text-gray-900 mb-4" th:if="${project.id!=0}">
                            <strong><p th:text="${project.nombre}">PROJECT IDB</p></strong>
                              	<label class="form-label">Contract Amount:</label>
                                <strong>
                                <p th:text="${#numbers.formatDecimal(project.montoContrato, 1, 'COMMA', 2, 'POINT')}">$100,000.00</p>
                                </strong>
                            </h4>
                        </div>
                        INCOMES
                        </br>
						<a class="small" th:href="@{/incomes/registro-desembolso/{id}(id=${project.id})}"> [DESEMBOLSO] </a>
						-- -- 
                        <a class="small" href="@{/income/registro-prestamo/{id}(id=${project.id})}">[PRESTAMO]</a>
                           </br>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTableIncomes" width="60%" cellspacing="0">
                                    <thead>
                                        <tr>
                                        	<th>Categoria</th>
                                        	<th>Concepto</th>
                                        	<th>Fecha</th>
                                        	<th>Monto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                   
                                        <tr th:each="income : ${incomes}">
                                        <td th:text="${income.categoria}"></td>
                                        <td th:text="${income.concepto}"></td>
                                        <td th:text="${#dates.format(income.fecha, 'MM/dd/yy')}"></td>
                    					<td th:text="${#numbers.formatDecimal(income.monto, 1, 'COMMA', 2, 'POINT')}"></td>
                    					
                                       </tr>

                                    </tbody>
                                </table>
                            </div>
                            EXPENSES
                                <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                        	<th>header 1</th>
                                        	<th>header 2</th>
                                        	<th>header 3</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <!-- 
                                        <tr th:each="expense : ${expenses}">
                                        <td th:text="${expense.pais}"></td>
                                        <td th:text="${expense.sigla}"></td>
                                        <td th:text="${expense.cliente}"></td>
                                       </tr>
 										-->
 										<tr >
                                        <td > 01</td>
                                        <td >jkojo</td>
                                        <td > cb dsb c</td>
                                       </tr>
                                    </tbody>
                                </table>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="design/script :: scripts"></div>

</body>

</html>








