<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="design/header :: head">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body class="bg-sistemasIntegrales" onload="hideMessage()">
    <!-- Mostrar el mensaje si está presente -->
    <div th:if="${message}" id="notificationMessage"
        th:classappend="${messageType == 'success'} ? 'alert alert-success' : 'alert alert-danger'"
        style="padding: 10px; margin-bottom: 15px; border-radius: 5px;">
        <span th:text="${message}"></span>
    </div>
<div class="container" style="width: 80%;">
    <div class="card o-hidden border-0 shadow-lg my-2">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
				<div class="text-left">
 					<a class="medium" th:href="@{/gastos/lista-proyectosAsignados}">GO BACK</a>
                </div>            
            <div>
                <div>
                    <div class="p-3">
                    	<div class="box box-primary">
	 						<div class="box-header with-border">
							<h6>PROJECT DETAILS</h6>
							</div>
							<div class="box-body">
								<div class="row-header-max">
									<div class="col">
										<div class="row-header">
											<div class="col-5">
												<strong><i class="fa fa-book margin-r-5"></i> Project Name</strong>
												<p class="p-header"  th:text="${project.nombre}">PROJECT IDB	</p>
											</div>
											<div class="col-2">
												<strong>Country</strong>
												<p  class="p-header"  th:text="${project.pais}">Chile</p>
											
											</div>
											<div class="col-3">
												<strong>Dates</strong>
												<p class="p-header"  th:text="${#dates.format(project.fechaInicial, 'MM/dd/yy') + ' - ' + #dates.format(project.fechaFin, 'MM/dd/yy')}"></p>

											</div>
											<div class="col-2">
												<strong>Financier</strong>
												<p class="p-header"  th:text="${project.cliente}"></p>

											</div>												
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="box box-secondary">
						   <div class="table-responsive">
                                <table class="table table-descargo" id="dataTableExpenses" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th colspan="4" class="th-details-descargo">Transfers Received</th>
                                            <th colspan="2" class="th-details-descargo">Amount in Local Currency</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="expense : ${expenseDescargos}">
	                                        <td class="td-details-descargo" th:text="${expense.clasificacionEgreso.nombreClase}"></td>
	 										<td class="td-details-descargo" th:text="${expense.cargoItem}"></td>
											<td class="td-details-descargo" 
											    th:text="${expense.fechaFin != null ? #dates.format(expense.fechaInicio, 'MM/dd/yy') + ' - ' + #dates.format(expense.fechaFin, 'MM/dd/yy') : #dates.format(expense.fechaInicio, 'MM/dd/yy')}">
											</td>
	                                        <td class="td-details-descargo td-montos" th:text="${#numbers.formatDecimal(expense.montoTotal, 1, 'COMMA', 2, 'POINT')+'(USD)'}">
	                                        <td class="td-details-descargo td-montos" 
												th:text="${#numbers.formatDecimal(expense.cambio, 1, 'COMMA', 2, 'POINT') + ' (' + (expense.pais != null ? expense.pais.codDivisa : 'N/A') + ')'}" 
	                                        	></td>
	                                        <td class="td-details-descargo td-montos" 
	                                            th:text="${#numbers.formatDecimal(expense.totalLCU, 1, 'COMMA', 2, 'POINT') + ' (' + (expense.pais != null ? expense.pais.codDivisa : 'N/A') + ')'}" >
											    ...<span th:text="${(expense.pais != null ? expense.pais.divisa : 'N/A')}">*</span>
											</td>
	                                         
                                        </tr>

                                    </tbody>
										<tfoot>
										    <tr>
										        <td colspan="3" class="th-details-descargo text-right"><strong>Total Received:</strong></td>
										        <td class="td-details-descargo td-montos" th:text="${#numbers.formatDecimal(totalAmountExpenses, 1, 'COMMA', 2, 'POINT')+'(USD)'}"></td>
										        <td class="th-details-descargo text-right"><strong>Total:</strong></td>
										        <td class="td-details-descargo td-montos" th:text="${#numbers.formatDecimal(totalAmountExpensesLCU, 1, 'COMMA', 2, 'POINT')}"></td>
			
										    </tr>
										</tfoot>                                    
                                </table>
                            </div>
						</div>
						 <div class="card-header py-3">
						 	<div class="row">
						 	<div class="col-4"><h6>Registered expense with vouchers</h6></div>
						 	<div class="col-5"></div>
						 	<div class="col-3 td-montos">
						 	 <h6>Total discharges: <strong><span th:text="${#numbers.formatDecimal(totalUSDvouchers, 1, 'COMMA', 2, 'POINT')+'(USD)'}"></span></strong></h6>
						 	</div>
						 	</div>
                            
                           
                        </div>
				            <span>
								<div class="d-flex justify-content-end">
								    <a href="#"			       
								       class="btn btn-outline-success" 
								       data-toggle="modal" data-target="#expenseDisclaimerModal" >
								       <i class="fas fa-plus"></i> + New Registration
								    </a>
								</div>
				            </span>		
<div th:each="expenseGroup : ${gastoDescargosGroupedByExpense}">
    
    <h6 th:text="${expenseGroup.key.nombreClaseCargoItem}"></h6> <!-- Mostrar nombreClase y cargoItem -->
    <table class="table">
        <thead>
            <tr>
                
                <th>Description</th>
                <th>Phase</th>
                <th>Category</th>
                <th>Total Cost</th>
                <th>Total USD</th>
                <th>Attachment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <!-- agrupacion por expense -->
            <tr th:each="descargos : ${expenseGroup.value}">
                <td>
                    <span th:text="${descargos.descripcion}"></span><br>
                    <a href="#" onclick="toggleDetailsB(this); return false;">+</a>
                    <div class="details-table" style="display: none;">
                        <table>
                            <tr>
                                <td class="td-details-descargo2">Date</td>
                                <td class="td-details-descargo2" th:text="${#dates.format(descargos.fecha, 'MM/dd/yy')}"></td>
                            </tr>
                            <tr>
                                <td class="td-details-descargo2">Quantity</td>
                                <td class="td-details-descargo2" th:text="${#numbers.formatDecimal(descargos.cantidad, 1, 'COMMA', 2, 'POINT')}"></td>
                            </tr>
                            <tr>
                                <td class="td-details-descargo2">Quantity payments</td>
                                <td class="td-details-descargo2" th:text="${#numbers.formatDecimal(descargos.cantidadPagos, 1, 'COMMA', 2, 'POINT')}"></td>
                            </tr>
                            <tr>
                                <td class="td-details-descargo2">Cost Unit</td>
                                <td class="td-details-descargo2" th:text="${#numbers.formatDecimal(descargos.costoUnitario, 1, 'COMMA', 2, 'POINT')}"></td>
                            </tr>
                            <tr>
                                <td class="td-details-descargo2">Unit</td>
                                <td class="td-details-descargo2" th:text="${descargos.unidadMedida.descripcionUnidad}"></td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td th:text="${descargos.categoriaGastos.fase.nombre}"></td>
                <td th:text="${descargos.categoriaGastos.categoria}"></td>                                         
                <td class="td-montos" th:text="${#numbers.formatDecimal(descargos.costoTotal, 1, 'COMMA', 2, 'POINT')}"></td>  
                <td class="td-montos" th:text="${#numbers.formatDecimal(descargos.totalUSD, 1, 'COMMA', 2, 'POINT')}"></td>  
                <td>
                    <a th:if="${descargos.attach != null}" 
                       th:href="@{'/gastos/descargar/' + ${#strings.substring(descargos.attach, descargos.attach.lastIndexOf('/') + 1)}}" 
                       target="_blank">
                        <img src="/imagenes/clip.jpg" alt="view" width="17px" height="20px">
                    </a>
                    <span th:if="${descargos.attach == null}"></span>
                </td>
                <td>
                    <span>
                        <a href="#" data-toggle="modal" data-target="#deleteModal" 
                           th:onclick="setDeleteUrl([[${project.id}]],[[${descargos.id}]],0)" 
                           class="btn btn-danger btn-circle btn-sm"> <!-- th:onclick="setDeleteUrl([[${descargos.id}]])"  -->
                           <img src="/imagenes/eliminar.png" alt="eliminar registro" width="17px" height="19px">
                           <i class="fas fa-exclamation-triangle"></i>
                        </a>
                    </span>
                </td>
            </tr>
			<tfoot>
			    <tr>
			        <td colspan="3" style="text-align: right;"><strong>Subtotal:</strong></td>
			        <td class="td-montos" th:text="${#numbers.formatDecimal(subtotalesPorGrupo[expenseGroup.key]['costoTotal'], 1, 'COMMA', 2, 'POINT')}"></td>
			        <td class="td-montos" th:text="${#numbers.formatDecimal(subtotalesPorGrupo[expenseGroup.key]['totalUSD'], 1, 'COMMA', 2, 'POINT')}"></td>
			        <td colspan="2"></td>
			    </tr>
			</tfoot>

            
        </tbody>
    </table>
</div>

					
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Modal para Registrar/Editar Descargo -->
<div class="modal fade" id="expenseDisclaimerModal" tabindex="-1" aria-labelledby="expenseDisclaimerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:if="${expenseDisclaimer.id == null}" id="expenseDisclaimerModalLabel">Expense Voucher Register</h5>
                <h5 class="modal-title" th:if="${expenseDisclaimer.id != null and expenseDisclaimer.id != 0}" id="expenseDisclaimerModalLabel">Expense voucher Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="miFormulario" class="user" th:action="@{/gastos/guardar-descargoNonRecurring}" th:method="post" 
                		th:object="${expenseDisclaimer}" enctype="multipart/form-data"  onsubmit="return validateAttach()">
                    <input type="hidden" th:if="${expenseDisclaimer.id!=0}" th:field="*{id}" th:value="${expenseDisclaimer.id}">
                    <input type="hidden" th:value="${project.id}" id="inputproyectoId" name="inputproyectoId">
                    <input type="hidden" value="0" id="inputTipoSend" name="inputTipoSend">
    				<!-- Expenses by Project -->
                    <div class="mb-3">
                        <label for="inputProjectName" class="form-label">Expenses received</label>
                        <select th:field="*{egreso}" class="form-control form-control-user" id="expensesBeneficiary" required  onchange="updatePhaseDivisaSelection()">
								<option value="" th:if="${expenseDisclaimer.id == null}">Select expense</option>
								<option th:each="expenseD : ${expenseDescargos}" 
										th:value="${expenseD.id}"
										th:data-cambio="${expenseD.cambio}"
										th:data-divisa="${expenseD.divisa.divisa}"
										th:data-fase-id="${expenseD.proyectoFase.fase.id}"
										th:text="${expenseD.clasificacionEgreso.nombreClase+ ' - '+expenseD.objeto+ ' ( '+expenseD.cargoItem+') = '+ expenseD.montoTotal}" ></option>
													
						</select>
						 <input type="hidden"  id="inputCambioExpense" >
                        <!-- Add the actual input field here if required -->
                    </div>
                    <!-- Project Phases -->
                    <div class="mb-3">
                        <label for="inputaccount" class="form-label">Phase assigned to the expense</label>
                        <select  class="form-control form-control-user" id="fasesExpense" required disabled>
								<option value="" th:if="${expenseDisclaimer.id == null}">Select phase</option>
								<option th:each="fase : ${fasesByProyecto}" 
										th:value="${fase.id}"
										th:text="${fase.nombre+ ' - '+fase.faseDescripcion}" ></option>
													
						</select>
                        <!-- Add the actual input field here if required -->
                    </div>

                    <!-- Expense Category and Unit of Measurement -->
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputtipo" class="form-label">Expense Category</label>
                            <select th:field="*{categoriaGastos}" class="form-control form-control-user" id="categoriesFases" required>
                                <option value="" th:if="${expenseDisclaimer.id == null}">Select category</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="inputClassification" class="form-label">Unit of Measurement</label>
                            <select th:field="*{unidadMedida}" class="form-control form-control-user" id="unidadSelect" required>
                                <option value="" th:if="${expenseDisclaimer.id == null}">Select unit</option>
                                <option th:each="unit : ${unitOfMeasurements}" th:value="${unit.id}" th:text="${unit.descripcionUnidad}"></option>
                            </select>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="mb-3">
                        <label for="inputDescripcion" class="form-label">Description</label>
                        <input th:field="*{descripcion}" type="text" class="form-control form-control-user" id="inputDescripcion" name="inputDescripcion" placeholder="Enter description of expense" required>
                    </div>

                    <!-- Quantity, Quantity of Pays, and Unit Cost -->
                    <div class="row">
                        <div class="col-md-3">
                            <label for="inputCantidad" class="form-label">Quantity</label>
                            <input th:field="*{cantidad}" type="number" class="form-control form-control-user" id="inputCantidad" name="inputCantidad" 
                            	step="0.01" min = "1" oninput="calculateTotalCosto()" required>
                        </div>
                        <div class="col-md-3">
                            <label for="inputCantidadPagos" class="form-label">Quantity of Pays</label>
                            <input th:field="*{cantidadPagos}" type="number" class="form-control form-control-user" id="inputCantidadPagos" name="inputCantidadPagos" 
                            	step="0.01" min = "1" oninput="calculateTotalCosto()" required>
                        </div>
                        <div class="col-md-3">
                            <label for="inputPrecioUnitario" class="form-label">Unit Cost</label>
                            <input th:field="*{costoUnitario}" type="number" class="form-control form-control-user" id="inputPrecioUnitario" name="inputPrecioUnitario" 
                                step="0.01" min = "1"  oninput="calculateTotalCosto()" required>
                        </div>
                        <div class="col-md-3">
                            <label id="labelDivisa" class="form-label"></label>                          
                            <input th:field="*{costoTotal}" type="text" class="form-control form-control-user" id="inputCostoTotal" name="inputCostoTotal" step="0.01" readonly>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                        <div class="row">
							 <div class="col-10">
								<label for="inputAttach" class="form-label">Attach</label>
								<input th:field="*{attach}" type="text" class="form-control form-control-user" 
										id="inputAttach" name="inputAttach" onchange="updateFileName()" readonly required>
								<div class="invalid-feedback">Please select a file.</div>
							 </div>
							 <div class="col-1">
								 <label for="inputAttachbtn" class="form-label">&nbsp;&nbsp;</label>
									<button id="btnAttach" type="button" class="btn btn-outline-info text-sistemasIntegralesBtn custom-hover-sistemasIntegrales" 
										onclick="triggerFileInput()">
									   Add
								    </button>
								    <!-- Campo oculto para validar -->
								 <input type="hidden" id="hiddenAttach" name="hiddenAttach" th:value="*{attach}"  onchange="updateFileName()"  >
								 <input type="file" id="fileInput" name ="file" style="display:none;"  onchange="updateFileName()" />
							 </div>  
							 <div class="col-1"></div>                      
                        </div>
                        </div>
                         <div class="col-md-3">
                            <label for="inputTotalUSD" class="form-label">Total USD</label>
                            <input th:field="*{totalUSD}" type="text" class="form-control form-control-user" 
                            		id="inputTotalUSD" name="inputTotalUSD"  step="0.01" readonly>
                        </div>                        
                    </div>
                    <!-- Total Cost, Date Transfer, and Observation -->
                    <div class="row">
                       <div class="col-md-3">
                            <label for="inputfecha" class="form-label">Date Transfer</label>
                            <input th:field="*{fecha}" type="date" class="form-control form-control-user" id="inputfechaVoucherBeneficiario" 
                            	onchange="formatDate(this.value)" required>
                        </div>
                        <div class="col-md-6">
                            <label for="inputObservacion" class="form-label">Observation</label>
                            <input th:field="*{observacion}" type="text" class="form-control form-control-user" id="inputObservacion" name="inputObservacion" placeholder="Enter observation if necessary">
                        </div>
                    </div>

                                <!-- Mostrar mensaje de error si existe -->
                                <div th:if="${error}" class="alert alert-danger" role="alert" style="color: red;">
                                    <p th:text="${error}"></p>
                                </div>


                    <!-- Save Button and Back Link -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-info text-sistemasIntegralesBtn custom-hover-sistemasIntegrales" onclick="prepareMonto('inputCostoTotal'); prepareMonto('inputTotalUSD'); showOverlay();">
                            SAVE EXPENSE
                        </button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmación de eliminación -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                   Are you sure you want to delete this record?
                </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a id="confirmDeleteBtn" href="#" class="btn btn-danger">Eliminate</a>
                </div>
            </div>
        </div>
    </div>

<!-- Footer -->
   <footer th:replace="design/footerBar :: footerbar"></footer>
<!-- End of Footer -->
<div th:replace="design/script :: scripts"></div>
<script th:src="@{/js/demo/scriptExpense.js}"></script>

<script type='text/javascript'>
$(function(){
    $(document).bind("contextmenu",function(e){
        return false;
    });
});
</script>


</body>
</html>








