<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="design/header :: head">
</head>

<body class="bg-sistemasIntegrales" onload="hideMessage()">
    <!-- Mostrar el mensaje si está presente -->
    <div th:if="${message}" id="notificationMessage"
        th:classappend="${messageType == 'success'} ? 'alert alert-success' : 'alert alert-danger'"
        style="padding: 10px; margin-bottom: 15px; border-radius: 5px;">
        <span th:text="${message}"></span>
    </div>
<div class="container" style="width: 80%;">
    <div class="card o-hidden border-0 shadow-lg my-2">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div>
	            <div>
                    <div class="p-3">
				                    <div class="box box-primary">
				 							<div class="box-header with-border">
											<h6>PROJECT DETAILS</h6>
											</div>
										<div class="box-body">
											<div class="row-header-max">
												<div class="col-6">
													<div class="row-header">
														<div class="col-7">
															<strong><i class="fa fa-book margin-r-5"></i> Project Name</strong>
															<p class="p-header"  th:text="${project.nombre}">PROJECT IDB	</p>
														</div>
														<div class="col-5">
															<strong>Country</strong>
															<p  class="p-header"  th:text="${project.pais}">Chile</p>
														
														</div>
													</div>
													<div class="row-header">
														<div class="col">
															<strong>Dates</strong>
															<p class="p-header"  th:text="${#dates.format(project.fechaInicial, 'MM/dd/yy') + ' - ' + #dates.format(project.fechaFin, 'MM/dd/yy')}"></p>
			
														</div>
														<div class="col">
															<strong>Financier</strong>
															<p class="p-header"  th:text="${project.cliente}"></p>
			
														</div>
													</div>
												</div>
												<div class="col-6">
													<div class="row-header-montos">
														<div class="col">
															<strong><i class="fa fa-money margin-r-5"></i> Contract Amount (USD)</strong>
															<p class="p-header"  th:text="${#numbers.formatDecimal(project.montoContrato, 1, 'COMMA', 2, 'POINT')}">$100,000.00</p>
														</div>
													</div>	
													<div class="row-header-montos">
														<div class="col-6">
															<strong><i class="fa fa-money margin-r-5"></i> Recurring Amount (USD)&nbsp;&nbsp;
																	<span th:text="${#numbers.formatDecimal(project.porcentajeRecurrente, 1, 'COMMA', 2, 'POINT')}+ '%'">0.00%</span>
															
															</strong>
															<p class="p-header"  th:text="${#numbers.formatDecimal(project.montoRecurrente, 1, 'COMMA', 2, 'POINT')}">$20,000.00</p>
														</div>
														<div class="col-6">
															<strong><i class="fa fa-money margin-r-5"></i> Non-Recurring Amount (USD)</strong>
															<p  class="p-header" th:text="${#numbers.formatDecimal(project.montoNoRecurrente, 1, 'COMMA', 2, 'POINT')}">$80,000.00</p>
														</div>								
													</div>	
												</div>
											</div>
											<hr>
				
										</div>
									</div>
			 						<div class="box-header with-border">
										<h6>Expense Selected Details</h6>
									</div>
									<div class="box-body">
										<form id="miFormulario" class="user" th:method="post"  th:object="${planPagosList}" enctype="multipart/form-data">
											<div class="row">
						                        <div class="col-4">
						                            <div class="form-group">
						                                <label class="form-label">Type:</label>
							                            <input th:value="${expenseSelected.tipo}" type="text" class="form-control form-control-user" 
						       									id="inputExpenseTipo" name="inputExpenseTipo" readonly>
						                            </div>
						                        </div>										
						                        <div class="col-4">
						                            <div class="form-group">
						                                <label class="form-label">Classification:</label>
							                            <input th:value="${expenseSelected.clasificacionEgreso.nombreClase}" type="text" class="form-control form-control-user" 
						       									id="inputExpenseClasificacion" name="inputExpenseClasificacion" readonly>
						                            </div>
						                        </div>
						                        <div class="col-4">
						                            <div class="form-group">
						                                <label class="form-label">Payment Method:</label>
							                            <input th:value="${expenseSelected.paymentMethod.descripcion != null ? expenseSelected.paymentMethod.descripcion : '---'}" type="text" class="form-control form-control-user" 
						       									id="inputPaymentMethod" name="inputPaymentMethod" readonly>
						                            </div>
						                        </div>
					                        
						                    </div>
											<div class="row">
												 <div class="col-6">
						                             <div class="form-group">
						                             	 <label for="inputObjetoPuesto" id="expenseObjetoPuesto" class="form-label" 
						                             	 th:text="${expenseSelected.clasificacionEgreso.nombreClase=='STAFF' ? 'Workstation':'Object'}"></label>
						                                 <input th:value="${expenseSelected.objeto}" type="text" class="form-control form-control-user" 
						       									id="inputObjetoPuesto" name="inputObjetoPuesto" readonly>
						                             </div>
						                        </div>	
						                        <div class="col-6">
						                            <div class="form-group">
						                             	 <label for="inputCargoItem" id="expenseCargoItem" class="form-label"
						                             	 	th:text="${expenseSelected.clasificacionEgreso.nombreClase=='STAFF' ? 'Job Position':'Item'}"></label>
					                                 <input  type="text" class="form-control form-control-user" th:value="${expenseSelected.cargoItem}"
					       									id="inputCargoItem" name="inputCargoItem" readonly>     									
	
						                            </div>
						                        </div>
						                    </div>
											<div class="row">
						                        <div class="col-8">
						                            <div class="form-group">
						                                <label class="form-label">Beneficiary:</label>
						                                <div class="row">
							                                <div class="col-4">
							                                	<input th:value="${expenseSelected.beneficiario.tipo}" type="text" class="form-control form-control-user" 
						       									id="inputBeneficiarioTipo" name="inputBeneficiarioTipo" readonly>
							                                </div>
							                                <div class="col-8">
								                                <input th:value="${expenseSelected.beneficiario.tipo != 'LEGAL ENTITY' 
												                     ? expenseSelected.beneficiario.nombres + ' ' + (expenseSelected.beneficiario.apellidos != null ? expenseSelected.beneficiario.apellidos : '') 
												                     : expenseSelected.beneficiario.razonSocial}" type="text" class="form-control form-control-user" 
								       									id="inputBeneficiarioFullName" name="inputBeneficiarioFullName" readonly>							                                
							                                </div>					                                
						                                </div>
						                            </div>
						                        </div>
						                        <div class="col-4">
						                            <div class="form-group">
						                                <label class="form-label">Number identification document:</label>
							                            <input th:value="${expenseSelected.beneficiario.documento}" type="text" class="form-control form-control-user" 
						       									id="inputBeneficiarioDocumento" name="inputBeneficiarioDocumento" readonly>
						                            </div>
						                        </div>
						                    </div>					                    
						                    <div class="row">
						                        <div class="col-2">
						                            <div class="form-group">
						                                <label class="form-label">Start date:</label>
													    <input th:value="${#dates.format(expenseSelected.fechaInicio, 'yyyy-MM-dd')}" 
													           type="date" class="form-control form-control-user" id="inputfechaInicio" readonly>
						                            </div>
						                        </div>
						                        <div class="col-2">
						                            <div class="form-group">
						                                <label class="form-label">End date:</label>
														<input th:value="${expenseSelected.fechaFin != null ? #dates.format(expenseSelected.fechaFin, 'yyyy-MM-dd') : ''}"  
														       type="date" class="form-control form-control-user" id="inputfechaFin" readonly>
	
						                            </div>
						                        </div>
						                        <div class="col-2">
						                            <div class="form-group">
						                                <label class="form-label">Time:</label>
													    <input th:field="${expenseSelected.tiempo}" type="number" class="form-control form-control-user" 
													       		id="inputTiempo" name="inputTiempo" step="0.01"  readonly>
						                            </div>
						                        </div>
						                        <div class="col-6">
						                            <div class="info-item">
			
						                            </div>
						                        </div>
						                    </div>
											<hr>
											<div class="row">
												<div class="col-1">
												</div>
												<div class="col-10">
												</div>
												<div class="col-1">
												</div>
								 		    </div>
				                    		<div class="row">
				                    			<div class="col-10"> </div>
				                    			<div class="col-2">
					                               	<button type="button" id ="btnAddPayment" class="btn btn-outline-info text-sistemasIntegralesBtn custom-hover-sistemasIntegrales" 
							                         	data-toggle="modal" data-target="#paymentAddModal"  
							                         	th:disabled="${expenseSelected.paymentMethod.id != 3}">
							                               Add Payment
							                         </button>
						                         </div>
						                    </div>	    
						                    <div class="row">                       	
				                    			<div class="col-1"> </div>
				                    			<div class="col-10">	
					                               <div class="table-responsive">
						                                <table class="table " id="dataTable" width="100%" cellspacing="0" data-search="false">
						                                    <thead>
						                                        <tr>
						                                        	<th>mes de pago</th>
						                                        	<th>fecha estimada</th>
						                                        	<th>monto</th>
						                                        	<th>Estado</th>
						                                        	<th>fecha de pago</th>
						                                            <th>attach</th>
						
						                                            <th>Actions</th>
						                                        </tr>
						                                    </thead>
						                                    <tbody>
						                                        <tr th:each="pagos : ${planPagosList}" >
						                                        <td th:text="${#dates.format(pagos.fechaEstimada, 'MMMM')}"></td> <!-- Nombre completo del mes -->
						                                        
						                                        <td th:text="${#dates.format(pagos.fechaEstimada, 'MM/dd/yy')}"></td>   
						                                        <td th:text="${#numbers.formatDecimal(pagos.totalUSD, 1, 'COMMA', 2, 'POINT')}"></td>
																<td th:text="${pagos.estadoPago}"></td>
						                                        <td th:text="${#dates.format(pagos.fecha, 'MM/dd/yy')}"></td>  
						                                        <td>
								                                    <a th:if="${pagos.attach != null}" 
								                                       th:href="@{'/gastos/descargar/' + ${#strings.substring(pagos.attach, pagos.attach.lastIndexOf('/') + 1)}}" 
								                                       target="_blank">
								                                        <img src="/imagenes/clip.jpg" alt="view" width="17px" height="20px">
								                                    </a>
																<span th:if="${pagos.attach == null}"></span>
																</td>
						                                        <td>
																	<span >
														                <a th:if="${pagos.estadoPago != 'PAID'}" 
														                   data-toggle="modal" data-target="#paymentAddModal" 
														                   th:data-id="${pagos.id}"
														                   class="btn btn-success btn-circle  btn-sm">
														                   <img src="/imagenes/money.png" alt="registro ejecucion" width="20px" height="20px">
														                   <i class="fas fa-exclamation-triangle"></i>
														                </a>
														            </span>		                                        
							                                        <span th:each="menuRole : ${menuRoles}">
														                <a th:href="@{/gastos/eliminar-pago/} + ${pagos.id}"
														                   th:if="${menuRole.menu.url == '/proyectos/lista-proyectos' and menuRole.adelete}" 
														                   class="btn btn-danger btn-circle btn-sm" onsubmit="showOverlay()">
														                   <img src="/imagenes/eliminar.png" alt="eliminar registro" width="17px" height="19px">
														                   <i class="fas fa-exclamation-triangle"></i>
														                </a>
														            </span>	
						                                        </td>
						 										</tr>
						 									</tbody>
						 								</table>
													</div>
												</div>
												<div class="col-1"> </div>
											</div>	
											<div class="row">
												<div class="col-2"> </div>
												<div class="col-8">
													<div class="row">
														<div class="col">
											              <div class="form-group">
											                <label for="inputExpenseAmount" class="form-label">Expense Amount</label>
															    <input th:field="${expenseSelected.montoTotal}" type="number" class="form-control form-control-user" 
															       		id="inputExpenseAmount" name="inputExpenseAmount" step="0.01"  readonly>
											              </div>
								                        </div>
								                        <div class="col">
											              <div class="form-group">
											                <label for="inputCommittedAmount" class="form-label">Committed Amount</label>
													        <input  type="number" class="form-control form-control-user" 
													       				id="inputCommittedAmount" name="inputFee" step="0.01"  readonly>
											              </div>
								                        </div>
								                        <div class="col">
											              <div class="form-group">
											                <label for="inputAmountPaid" class="form-label">Amount Paid</label>
													        <input type="number" class="form-control form-control-user" 
													       				id="inputAmountPaid" name="inputFee" step="0.01"  readonly>
											              </div>
								                        </div>
							                        </div>
						                        </div>
						                       	<div class="col-2"> </div>
											</div>
										 </form>
									</div>
					</div>
             	</div>
            </div>
        </div>
    </div>

</div>

<!--MODAL ADD PAYMENT  -->
<div class="modal fade" id="paymentAddModal" tabindex="-1" aria-labelledby="paymentAddModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="paymentAddModalLabel">Register Payment</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
                    </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                 <form id="formPayment" class="user" th:action="@{/gastos/guardar-planPagosNonRecurring/{id}(idp=${expenseSelected.id})}" 
                 		th:method="post" th:object="${expensePaymentPlan}" enctype="multipart/form-data">
	                  <!-- Campo oculto para el ID -->
	    			<input type="hidden" th:field="*{id}" th:value="0">                 		
					<input type="hidden" th:value="${project.id}" id="inputproyectoId" name="inputproyectoId">
	                <input type="hidden"   th:value="${expenseSelected.id}" id="inputExpenseId" name="inputExpenseId" readonly>
		                <!-- Campo oculto para almacenar el id de pagos -->
		                <input type="hidden" id="inputPagoId" name="pagoId">
	                <div class="row">
	                        <!-- Estimated Date Input -->
	                        <div class="col-md-6">
	                        	<div class="form-group">
		                            <label for="inputfechaEstimada" class="form-label">Estimated Date</label>
		                            <input th:field="*{fechaEstimada}" 
		                                   th:value="${#dates.format(fechaEstimada, 'MM/dd/yyyy')}" 
		                                   type="date" 
		                                   class="form-control form-control-user"
		                                   id="inputfechaEstimada"
		                                   th:disabled="${expenseSelected.paymentMethod.id != 3}"
		                                   onchange="checkDates()">
		                            <!-- Element to display formatted date -->
		                            <p id="formattedDate"></p>
	                            </div>
	                        </div>
	
	                        <!-- Amount to Pay Input -->
	                        <div class="col-md-6">
	                        	<div class="form-group">
		                            <label for="inputCostoTotal" class="form-label">Amount to Pay</label>
		                            <input th:field="*{costoTotal}" 
		                                   type="number" 
		                                   class="form-control form-control-user" 
		                                   id="inputMontoPago" 
		                                   name="inputMontoPago" 
		                                   step="0.01" 
		                                   th:disabled="${expenseSelected.paymentMethod.id != 3}">
		                        </div>
	                        </div>
	                    </div>
	                    <div class="row" id="rowStatePayment">
	                        <div class="col-md-6">
	                        	<div class="form-group">
		                            <label for="inputfechaPago" class="form-label">State payment</label>	                    
								    <select th:field="*{estadoPago}" class="form-control form-control-user">
								        <option th:value="PENDING" th:text="'PENDING'" th:selected="${expensePaymentPlan.estadoPago == 'PENDING'}">PENDING</option>
								        <option th:value="PAID" th:text="'PAID'" th:selected="${expensePaymentPlan.estadoPago == 'PAID'}">PAID</option>
								    </select>
	
								</div>
							</div>                
	                    	<!-- Payment Date Input -->
	                        <div class="col-md-6">
	                        	<div class="form-group">
		                            <label for="inputfechaPago" class="form-label">Payment Date</label>
		                            <input th:field="*{fecha}" 
		                                   th:value="${#dates.format(fecha, 'MM/dd/yyyy')}" 
		                                   type="date" 
		                                   class="form-control form-control-user"
		                                   id="inputfechaPago"
		                                   th:disabled="${expenseSelected.paymentMethod.id != 3}"
		                                   onchange="checkDates()">
		                            <!-- Element to display formatted date -->
		                            <p id="formattedDate"></p>
	                            </div>
	                        </div>
	                    
	                    </div>
	                    <div class="row"  id="rowPaymentDate">
	                    	<div class="col-10">
								<label for="inputAttach" class="form-label">Attach</label><br>
								<input th:field="*{attach}" type="text" class="form-control form-control-user" id="inputAttach" name="inputAttach" readonly>
							 </div>
							<div class="col-2">
								<label for="inputAttachbtn" class="form-label">&nbsp;&nbsp;</label>
								<button id="btnAttach" type="button" class="btn btn-outline-info text-sistemasIntegralesBtn custom-hover-sistemasIntegrales">
								Add
								</button>
								<input type="file" id="fileInput" name ="file" style="display:none;" />
							</div>   
	                    </div>
	                                      <!-- Modal Footer -->
		            <div class="modal-footer">
		                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		                <button type="submit" class="btn btn-primary" onclick="submitPayment()">Save Payment</button>
		            </div>
	            </form>  
            </div>

        </div>
    </div>
</div>
<!-- Footer -->
<footer th:replace="design/footerBar :: footerbar"></footer>
<!-- End of Footer -->
<div th:replace="design/script :: scripts"></div>
	<!-- Custom scripts for all expenses / vouchers by benef and admin-->
	<script th:src="@{/js/demo/scriptExpense.js}"></script>
	
<script type='text/javascript'>
$(function(){
    $(document).bind("contextmenu",function(e){
        return false;
    });
});
///
</script>
<script>
    // Escucha el evento de apertura del modal
    $('#paymentAddModal').on('show.bs.modal', function (event) {
        // Elemento que disparó el modal
        var button = $(event.relatedTarget);
        // Obtén el `data-id` del botón
        var pagoId = button.data('id');
        
        // Asigna el `id` al campo oculto en el modal, o a otro elemento que desees
        var modal = $(this);
        modal.find('#inputPagoId').val(pagoId);
    });
</script>
<script>
    // Ejecuta esta función cada vez que se abre el modal
    $('#paymentAddModal').on('show.bs.modal', function () {
        var pagoId = $('#inputPagoId').val(); // Obtén el valor de inputPagoId

        // Oculta las últimas dos filas si pagoId es nulo o vacío
        if (!pagoId) {
            $('#rowStatePayment, #rowPaymentDate').hide(); // Oculta las filas específicas
            document.getElementById("inputfechaEstimada").value = '';
            document.getElementById("inputMontoPago").value = 0.0;
           // document.getElementById('inputfechaPago').value = '';
            //document.getElementById('inputEstadoPago').value = '';
            //document.getElementById('inputAttach').value = '';
        } else {
            $('#rowStatePayment, #rowPaymentDate').show(); // Muestra las filas si hay un id válido
            // Realizar la solicitud AJAX para obtener los gastos por beneficiario y proyecto
            fetch(`/gastos/getPago?pagoId=${pagoId}`)
                .then(response => response.json())
                .then(pago => {
                    // Asignar los datos recuperados a los campos de entrada
                    $('#inputfechaEstimada').val(pago.fechaEstimada); // Fecha estimada del pago
                    $('#inputMontoPago').val(pago.costoTotal); // Monto del pago

                    // Asignar otros campos si es necesario, ejemplo:
                    //$('#inputfechaPago').val(pago.fechaPago); // Fecha de pago
                    //$('#inputAttach').val(pago.attach); // Archivo adjunto, si existe
                    //$('#inputEstadoPago').val(pago.estadoPago); // Estado de pago, si es un input o select


                })
                .catch(error => console.error('Error fetching expenses:', error));
        
        }
    });
</script>



</body>

</html>








