<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="design/header :: head">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body class="bg-sistemasIntegrales" onload="hideMessage()">
    <!-- Mostrar el mensaje si está presente -->
    <div th:if="${message}" id="notificationMessage"
        th:classappend="${messageType == 'success'} ? 'alert alert-success' : 'alert alert-danger'"
        style="padding: 10px; margin-bottom: 15px; border-radius: 5px;">
        <span th:text="${message}"></span>
    </div>
<div class="container" style="width: 80%;">
    <div class="card o-hidden border-0 shadow-lg my-2">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div>
                <div>
                    <div class="p-3">
                    	<div class="box box-primary">
	 						<div class="box-header with-border">
							<h6>PROJECT DETAILS</h6>
							</div>
							<div class="box-body">
								<div class="row-header-max">
									<div class="col-6">
										<div class="row-header">
											<div class="col-7">
												<strong><i class="fa fa-book margin-r-5"></i> Project Name</strong>
												<p class="p-header"  th:text="${project.nombre}">PROJECT IDB	</p>
											</div>
											<div class="col-5">
												<strong>Country</strong>
												<p  class="p-header"  th:text="${project.pais}">Chile</p>
											
											</div>
										</div>
										<div class="row-header">
											<div class="col">
												<strong>Dates</strong>
												<p class="p-header"  th:text="${#dates.format(project.fechaInicial, 'MM/dd/yy') + ' - ' + #dates.format(project.fechaFin, 'MM/dd/yy')}"></p>

											</div>
											<div class="col">
												<strong>Financier</strong>
												<p class="p-header"  th:text="${project.cliente}"></p>

											</div>											
										</div>
									</div>
									<div class="col-6">
										<div class="row-header-montos">
											<div class="col">
												<strong> Contract Amount (USD)</strong>
												<p class="p-header"  th:text="${#numbers.formatDecimal(project.montoContrato, 1, 'COMMA', 2, 'POINT')}">$100,000.00</p>
											</div>
										</div>	
										<div class="row-header-montos">
											<div class="col-6">
												<strong>Recurring Amount (USD)&nbsp;&nbsp;
														<span th:text="${#numbers.formatDecimal(project.porcentajeRecurrente, 1, 'COMMA', 2, 'POINT')}+ '%'">0.00%</span>
												
												</strong>
												<p class="p-header"  th:text="${#numbers.formatDecimal(project.montoRecurrente, 1, 'COMMA', 2, 'POINT')}">$20,000.00</p>
											</div>
											<div class="col-6">
												<strong>Non-Recurring Amount (USD)</strong>
												<p  class="p-header" th:text="${#numbers.formatDecimal(project.montoNoRecurrente, 1, 'COMMA', 2, 'POINT')}">$80,000.00</p>
											</div>								
										</div>	
									</div>
								</div>
								<hr>
							</div>
							
						</div>
                        <div class="text-center">
                            <h2 th:if="${expense.id == null}">Expense Register</h2>
                            <h2 th:if="${expense.id != null and expense.id != 0}">Expense Edit</h2>
                        </div>
                        <form id="miFormulario"  class="user" th:action="@{/expenses/guardar-egreso}" th:method="post" th:object="${expense}" enctype="multipart/form-data" onsubmit="return validateCountrySelection(); return validateTransferSelection();">
                            <input type="hidden" th:if="${expense.id!=0}"  th:field="*{id}" th:value="${expense.id}">
                           
                            <input type="hidden" th:value="${project.id}" id="inputproyectoId" name="inputproyectoId">
                            
                            <div class="row">
                            	<div class="col-6">
                            		<div class="row">
                            			<div class="col-4">
				                            <div class="form-group">
				                                <label for="inputtipo" class="form-label">Type </label>
													<select th:field="*{tipo}" class="form-control form-control-user" id="inputtipo">
													    <option value="Non-Recurring" selected >Non-Recurring</option> <!-- Default selected option -->
													    <option value="Recurring" disabled>Recurring</option>
													    
													</select>
				                             </div>                               			
                            			</div>
                            			<div class="col-8">
				                            <div class="form-group">
				                                <label for="inputaccount" class="form-label">Project Phases</label>
													<select th:field="*{proyectoFase}" class="form-control form-control-user"  required>
													    <option value="" th:if="${expense.id == null}" selected >Select phase</option>
													    <option th:each="faseproyecto : ${fasesProyecto}" th:value="${faseproyecto.id}"
													    		th:text="${faseproyecto.fase.nombre+ ' - (' + #numbers.formatDecimal(faseproyecto.presupuesto, 1, 'COMMA', 2, 'POINT')+' USD)'}" ></option>
													    
													</select>
				                             </div>                               			
                            			</div>

                            		</div>
                         	
                            	</div>  
                            	<div class="col-6">
                            		<div class="row">
                            			<div class="col-8">
				                            <div class="form-group">
				                                <label for="inputClassification" class="form-label">Classification of Expense</label>
				                                <select th:field="*{clasificacionEgreso}" class="form-control  form-control-user" onchange="toggleFields(this);"
				                               			 required id= "classificacionEgreso">
				                                	<option value="" th:if="${expense.id == null}"  selected  >Select classification</option>
				                                    <option th:each="classification : ${expenditureClassifications}" 
				                                    		th:value="${classification.id}"
				                                            th:data-nombreClase="${classification.nombreClase}"
				                                            
				                                            th:text="${classification.nombreClase}"
				                                            th:selected="${classification.id == clasificacionEgreso}"></option>
				                                </select>
				                                <input type="hidden" id="inputPago" name="inputPago">
											</div>                            			
                            			</div>
 
                            			<div class="col-4">
		                            		<div class="form-group">
				                                <label for="inputtipo" class="form-label">Method</label>
														<select th:field="*{paymentMethod}"  class="form-control form-control-user" id="inputPago" required  onchange="toggleFechaFin(this)">
														 <option value="" th:if="${expense.id == null}" selected >Select</option>
														 <option th:each="method : ${paymentMethod}"
														 		 th:value ="${method.id}"
														 		 th:data-formaPago ="${method.descripcion}"
														 		 th:text="${method.descripcion}">
														 </option>
														</select>
				                             </div>                              			
                            			</div>                           			
                            		</div>			
                          	
                            	</div>                            	                          	
                            </div>
                            <div class="row">
                            	<div class="col-6">
		                             <div class="form-group">
		                             	 <label for="inputObjetoPuesto" id="expenseObjetoPuesto" class="form-label">Object</label>
		                                 <input th:field="*{objeto}" type="text" class="form-control form-control-user" 
		       									id="inputObjetoPuesto" name="inputObjetoPuesto" placeholder="Enter object or position in the company" required>
		                             </div>
                            	</div>
                            	<div class="col-6">
                            		<div class="row">
                            			<div class="col-9">
				                             <div class="form-group">
				                             	 <label for="inputCargoItem" id="expenseCargoItem" class="form-label">Item</label>
				                                 <input type="text" class="form-control form-control-user" 
				       									id="inputItem" name="inputItem" placeholder="Enter item"  
				       									oninput="updateCargoItem(this.value)">
				       									<!-- en caso de item, deberia carga un combo-->
				                                <select id= "selectCargo" name= "selectCargo" class="form-control  form-control-user" 
				                                	  style="display: none;"  onchange="updateCargoItem(this.options[this.selectedIndex].value)">
				                                	<option value="" disabled selected>Select expense</option>
				                                    <option th:each="escala : ${escalas}" 
				                                    		th:value="${escala.nombre}"
				                                            th:text="${escala.nombre +' - (' + #numbers.formatDecimal(escala.salario, 1, 'COMMA', 2, 'POINT')+' USD)'}" ></option>
				                                </select>	 	  
				                                 <input  th:field="*{cargoItem}" type="hidden" class="form-control form-control-user" 
				       									id="inputCargoItem" name="inputCargoItem" required>     									
				                             </div>                            			
                            			</div>
		                            	<div class="col-3">
		                            		<label for="btnAddCargo" class="form-label"> &nbsp;&nbsp;</label>
					                         <button type="button" id ="btnAddCargo" class="btn btn-outline-info text-sistemasIntegralesBtn custom-hover-sistemasIntegrales" 
					                         	data-toggle="modal" data-target="#cargoModal"  onclick="showOverlay()" style="display: none;">
					                               Adding
					                         </button>	                            	
		                            	</div> 
                            		</div>

                            	</div>                            	
                            </div>		
                            <div class="row">
                            	<div class="col-10">
                            		<label for="beneficiarioE" class="form-label">Beneficiary </label>
 								    <select  th:field="*{beneficiario}" id="beneficiarioE" name="beneficiarioE" class="form-control form-control-user" 
 								    		data-show-subtext="true" data-live-search="true" onchange="loadBeneficiaryData()" required>
								                <option value="0"  selected>Select </option>
								                <option th:each="beneficiary : ${beneficiaries}" 
									                    th:value="${beneficiary.id}" 
									                    th:data-tipo="${beneficiary.tipo}"
									                    th:data-documento="${beneficiary.documento}"
									                    th:data-nombres="${beneficiary.nombres}"
									                    th:data-apellidos="${beneficiary.apellidos != null ? beneficiary.apellidos : ''}"
												          th:data-razonSocial="${beneficiary.razonSocial != null ? beneficiary.razonSocial : ''}"
							            th:text="${beneficiary.tipo != 'LEGAL ENTITY' 
							                     ? beneficiary.tipo +' =>'+ beneficiary.nombres + ' ' + (beneficiary.apellidos != null ? beneficiary.apellidos : '') +' ('+beneficiary.documento+')'
							                     : beneficiary.tipo +' =>'+ beneficiary.razonSocial+' ('+beneficiary.documento+')'}">
								                </option>
								     </select> 
								     <!--                            	
                          	<select th:field="*{beneficiario}" class="form-control form-control-user" id="beneficiarioE" 
                          			data-show-subtext="true" data-live-search="true" required onchange="loadBeneficiaryData()">
                                <option value="" th:if="${expense.id == null}">Select beneficiary</option>
                            </select> -->
                            	</div>
                            	<div class="col-1">
                            		<div class="form-group">
			                             <input type="hidden" class="form-control form-control-user" 
			       									id="inputIdBeneficiario" name="inputIdBeneficiario" placeholder="id beneficiario x">
			                             <input type="hidden" class="form-control form-control-user" 
			       									id="inputBeneficiario" name="inputBeneficiario" placeholder="beneficiario x">	
			                             
	                            	     <label for="btnAddBeneficiary" class="form-label"> &nbsp;&nbsp;</label>
				                         <button type="button" class="btn btn-outline-info text-sistemasIntegralesBtn custom-hover-sistemasIntegrales" 
				                         	data-toggle="modal" data-target="#beneficiaryModal"  onclick="showOverlay()">
				                               Add
				                         </button>
			                         </div>	                            	
                            	</div> 
                            	<div class="1">
                            	</div>                           	
                            </div>	
                            <div class="row">
                            	<div class="col-10">
			                        <div class="row-header-montos">
			                            <div class="col">
			                                <strong> Beneficiary type:</strong>
			                                <p class="p-header" id="beneficiarioTipo">---</p>
			                            </div>
			                            <div class="col">
			                                <strong> Identification Document:</strong>
 											<p class="p-header" id="beneficiarioDocumento">---</p> 
 			                            </div>
			                        </div>
			                        <div class="row-header-montos">
			                            <div class="col">
			                                <strong> Full Name:</strong>
 											<p class="p-header" id="beneficiarioNombre">---</p>
			                            </div>
			                            <div class="col">
			                                <strong> Company Name:</strong>
 											<p class="p-header" id="beneficiarioDocumento">---</p> 				                               
			                            </div>
			                        </div>
                           	
                            	</div>
                            	<div class="col-2">
	                            	<div class="form-check form-switch" id ="flexSwitchCheckDefaultDiv" style="display: none;">
									  <input name="expenseDescargo" th:field="*{descargo}" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
									  <label class="form-check-label" for="flexSwitchCheckDefault">Presents discharge?</label>
									</div>
                            	</div>                              	
                            </div>
                            <div class="row">
                            	<div class="col-7">
		                             <div class="row">
									    <div class="col-4">
		                            		<div class="form-group">
					                              <label for="inputfechaInicial" class="form-label">Start Date</label>
					                              <input th:field="*{fechaInicio}" 
					                              		th:value="${#dates.format(fechaInicio, 'MM/dd/yyyy')}" 
					                              		type="date"  class="form-control form-control-user"
					                                    id="inputfechaInicio" 
					                                    placeholder="MM/DD/YYYY" 
					                                    required 
                           								onchange=" checkDates()">
                             	
			                               <!-- Elemento para mostrar la fecha formateada -->
												<p id="formattedDate"></p>
			                                </div> 
                            			</div>
                            			<div class="col-4">
			                                	<div class="form-group">
													 <label for="inputfechaFin" class="form-label">End Date</label>
					                                 <input th:field="*{fechaFin}" type="date" class="form-control form-control-user"
					                                           id="inputfechaFin" 
					                                           onchange ="checkDates()"
					                                            readonly>
					                            </div>      
                            			</div>
                            			
		                            	<div class="col-4">
					                        <div class="form-group">
											 <label for="inputTiempo" class="form-label">Time</label>                            	
				                       		<input th:field="*{tiempo}" type="number" class="form-control form-control-user" 
				       								id="inputTiempo" name="inputTiempo" step="0.000001"  readonly>
		                            		</div>
		                            	</div>
		                            	 
		                             </div>
                            		 <div class="row">
                            			<div class="col-4">
					                        <div class="form-group">
											 <label for="inputCantidad" class="form-label">Quantity</label>                            			
		                       				<input th:field="*{cantidad}" type="number"  class="form-control form-control-user" 
		       										id="inputCantidad" name="inputCantidad" step="0.01" oninput="calculateTotalMontoPagar()" onchange="calculateTotalMontoPagar()" 	placeholder="0.00">
		       								</div>                            			
                            			</div>
                            			<div class="col-4">
					                        <div class="form-group">
											 <label for="inputPrecioUnitario" id="expensePrecioUnitarioMonto" class="form-label">Unit Cost (USD)</label>                            			
		                       				<input th:field="*{costoUnitario}"  type="number" class="form-control form-control-user" 
		       										id="inputPrecioUnitario" name="inputPrecioUnitario" step="0.01" oninput="calculateTotalMontoPagar()"  onchange="calculateTotalMontoPagar()" >                             			
											</div>
                            			</div>
		                            	<div class="col-4">
							                    <div class="form-group">
											    <label for="inputMontoPaga" class="form-label">Total (USD) </label>                            			
				                       			<input th:field="*{montoTotal}"  type="text" class="form-control form-control-user" 
				       								id="inputMontoPagar" name="inputMontoPagar" step="0.01" 
				       								placeholder="0.00" readonly > 
				       							</div>	                             	
		                            	</div>                            			
                            		 </div>  
	                            		<div class="row">
	                            			<div class="col-4">
				                               <div class="form-group">
													<label for="inputfecha" class="form-label">Date Transfer</label>
						                            <input th:field="*{fecha}" type="date" class="form-control form-control-user"
						                                           id="inputfecha" onchange="formatDate(this.value)" required>
						                       </div>                             			
	                            			</div>
	                            			<div class="col-4">
					                            <div class="form-group">
					                                <label for="inputaccount" class="form-label">Payment type</label>
														<select th:field="*{tipoTransferencia}" class="form-control form-control-user" id="inputTipoTransferencia" name="inputTipoTransferencia" required>
														    <option value="" th:if="${expense.id == null}">Select type</option>
														    <option value="TRANSFER" th:selected="${expense.tipoTransferencia == 'TRANSFER'}">Transfer</option>
														    <option value="CASH" th:selected="${expense.tipoTransferencia == 'CASH'}">Cash</option>
														</select>
					                             </div>                             			
	                            			</div>	  
	                            			<div class="col-4">
	                            				<div class="form-group">
												 <label for="inputFee" class="form-label">Fee</label>                            	
					                       		<input th:field="*{fee}" type="number" class="form-control form-control-user" 
					       								id="inputFee" name="inputFee" step="0.01"  >
			                            		</div>  
			                            	</div>                        		
	                            		</div>                            		 
									<div class="row">
									    <div class="col-7">
									        <label for="inputAttach" class="form-label">Attach</label><br>
									        <input th:field="*{attach}" type="text" class="form-control form-control-user" id="inputAttach" name="inputAttach" readonly>
									    </div>
									    <div class="col-1">
									        <label for="inputAttach" class="form-label">  &nbsp;&nbsp;</label>
									        <input type="file" id="fileInput" name ="file" style="display:none;" />
									        <button id="btnAttach" type="button" class="btn btn-outline-info text-sistemasIntegralesBtn custom-hover-sistemasIntegrales">
									            Add
									        </button>
									    </div>
									   	<div class="col-4">
								    </div>
									    
									</div>

                            	</div>
                            	<div class="col-5" style="background-color: rgb(245,245,245);">

	                            		<div class="row">
		                            		<div class="col">
		                            			<div class="form-group">
			                                        <label for="inputpais" class="form-label">Country</label>
											        <SELECT th:field = "*{pais}" id="paisExpense"  class="form-control form-control-user"  data-show-subtext="true" data-live-search="true" required>
														<option value="" th:if="${expense.id == null}" selected>Select country</option>
														<OPTION th:EACH= "pais : ${paises}" 
																th:VALUE = "${pais.id}" 
																th:TEXT = "${pais.nombre}" >										 
														</OPTION >		 
													</SELECT>  
												</div> 	
		                            		</div>
	                            		</div>

	                            		<div class="row">
	                            			<div class="col">
	                            				<div class="form-group">
		                            				<label for="inputDivisasPais" class="form-label">Currency </label><br>
		                            				<input type="radio" id="divisaUsd" name="paymentCurrency" value="1"  checked>   USD
		                            				<input type="radio" id="divisaOther" name="paymentCurrency" value="0"> Another currency
		                            			</div>
	                            			</div>
	                            		</div>
	                            		<div class="row">
	                            			<div class="col">
	                            				<div class="form-group">
			                                  
											        <SELECT  th:field = "*{divisa}"  id="divisaSelect" class="form-control form-control-user"  
											        		data-show-subtext="true" data-live-search="true" disabled>
														<OPTION th:each = "divisa : ${divisas}" 
																th:value = "${divisa.id}" 
																th:data-cod = "${divisa.divisa_cod}" 
																th:text = "${divisa.divisa +' ('+divisa.divisa_cod+')'}" >										 
														</OPTION >		 
													</SELECT>  
												</div>
	                            			</div>

	                            		</div>	
	                            		<div class="row" id= "divisaRow">
	                            			<div class="col-6">
			                            		<div class="form-group">
												 <label for="inputCambioMoneda" class="form-label">Exchange Rate</label>                            	
					                       		<input th:field="*{cambio}"  type="number" class="form-control form-control-user" 
					       								id="inputCambioMoneda" name="inputCambioMoneda" step="0.000001"   oninput="calculateTotalMontoPagar()"  onchange="calculateTotalMontoPagar()"  >
			                            		</div> 
	                            			</div>
			                            	<div class="col-6">
						                        <div class="form-group">
												 <label for="inputTotalLCU" class="form-label">Total in local Currency</label>                            	
					                       		<input th:field="*{totalLCU}" type="text" class="form-control form-control-user" 
					       								id="inputTotalLCU" name="inputTotalLCU" step="0.01" 
					       								placeholder="0.00" readonly>
			                            		</div>                            	
			                            	</div>                            		
	                            		</div>

                            	</div>
                            </div>

 							<!-- Mostrar mensaje de error si existe -->
                            <div th:if="${error}" class="alert alert-danger" role="alert" style="color: red;">
                                <p th:text="${error}"></p>
                            </div>
                             <button id="btnExpense" type="submit" class="btn btn-outline-info text-sistemasIntegralesBtn custom-hover-sistemasIntegrales"
                              		onclick="prepareMonto('inputMontoPagar'); prepareMonto('inputTotalLCU'); showOverlay(); " >
                                SAVE EXPENSE
                             </button>
							<div class="text-center">
 								<a class="medium" th:href="@{/ejecucion/registro-ejecucion/{id}(id=${project.id})}">GO BACK</a>
                           </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Modal para registrar cargo/escala -->
<div class="modal fade" id="cargoModal" tabindex="-1" role="dialog" aria-labelledby="cargoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cargoModalLabel">Register Position</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formEscala" class="user" th:action="@{/scales/guardar-cargo/{idp}(idp=${project.id})}" th:method="post" th:object="${scale}">
          <div class="row">
            <div class="col">
              <div class="form-group">
                  <!-- Campo oculto para el ID -->
    			<input type="hidden" th:field="*{id}" th:value="0">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="inputNombreCargo" class="form-label">Name</label>
                <input th:field="*{nombre}" type="text" class="form-control form-control-user" id="inputNombreCargo" placeholder="Enter name" required>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="inputSalarioCargo" class="form-label">Salary</label>
                <input th:field="*{salario}" type="number" class="form-control form-control-user" id="inputSalarioCargo" min="0"  step="0.01" placeholder="0" required>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para registrar beneficiario -->
<div class="modal fade" id="beneficiaryModal" tabindex="-1" role="dialog" aria-labelledby="beneficiaryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="beneficiaryModalLabel">Register Beneficiary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formBeneficiario" class="user" th:action="@{/beneficiarios/guardar-beneficiario/{idp}(idp=${project.id})}" th:method="post" th:object="${beneficiary}">
          <div class="row">
            <div class="col">
              <div class="form-group">
                  <!-- Campo oculto para el ID -->
    			<input type="hidden" th:field="*{id}" th:value="0">
                <label for="inputtipoB" class="form-label">Beneficiary Type</label>
                <select th:field="*{tipo}" class="form-control form-control-user" id="inputtipoB" required  onchange="updateLabel()">
                  <option value="" th:if="${beneficiary.id == null}" selected disabled>Select type</option>
                  <option value="NATURAL PERSON" th:selected="${beneficiary.tipo == 'NATURAL PERSON'}">Natural Person</option>
                  <option value="LEGAL ENTITY" th:selected="${beneficiary.tipo == 'LEGAL ENTITY'}">Legal Entity</option>
                  <option value="STAFF" th:selected="${beneficiary.tipo == 'STAFF'}">Staff</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="inputdocumento" class="form-label" id = "documento"></label>
                <input th:field="*{documento}" type="text" class="form-control form-control-user" id="inputdocumento" placeholder="Document Number" required>
              </div>
            </div>
          </div>

          <div class="row" >
            <div class="col">
              <div class="form-group">
                <label for="inputnombres" class="form-label" id ="firstName"></label>
                <input th:field="*{nombres}" type="text" class="form-control form-control-user" id="inputnombre" placeholder="Enter first name" >
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="inputapellidos" class="form-label" id="lastName"></label>
                <input th:field="*{apellidos}" type="text" class="form-control form-control-user" id="inputapellidos" placeholder="Enter Last name" >
              </div>
            </div>
          </div>
         <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="inputrazonSocial" class="form-label" id ="company"></label>
                <input th:field="*{razonSocial}" type="text" class="form-control form-control-user" id="inputrazonSocial" placeholder="Enter company name ">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="inputpaisProcedencia" class="form-label">Country origin</label>
                <select th:field="*{pais}" class="form-control form-control-user" id="inputpaisProcedencia" 
                	data-show-subtext="true" data-live-search="true" required>
                  <option value=""  selected>Select country</option>
                  <option th:each="paiss : ${paisesBeneficiary}"
                  		  th:value="${paiss.id}" 
                  		  th:text="${paiss.nombre}">
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="inputemail" class="form-label" id = "email"></label>
                <input th:field="*{email}" type="email" class="form-control form-control-user" id="inputemail" placeholder="example@gmail.com" >
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="inputtelefonoContacto" class="form-label">Contact phone</label>
                <input th:field="*{telefonoContacto}" type="text" class="form-control form-control-user" id="inputtelefonoContacto" placeholder="Contact phone">
              </div>
            </div>
          </div>
          <div class="row">
	                                    <div class="col">
	                                        <div class="form-group">
	                                            <label for="inputfechaIngreso" class="form-label">Start Date(if applicable)</label>
	                                            <input th:field="*{fechaIngreso}" type="date" class="form-control form-control-user" id="inputfechaIngreso" >
	                                        </div>
	                                    </div>
	                                    <div class="col">
	                                        <div class="form-group">
	                                            <label for="inputobservacion" class="form-label">Observation</label>
	                                            <textarea th:field="*{observacion}" class="form-control form-control-user" id="inputobservacion" placeholder="Observations" rows="3"></textarea>
	                                        </div>
	                                    </div>
         </div>
                                         <!-- Mostrar mensaje de error si existe -->
                                <div th:if="${error}" class="alert alert-danger" role="alert" style="color: red;">
                                    <p th:text="${error}"></p>
                                </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Beneficiary</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
   <footer th:replace="design/footerBar :: footerbar"></footer>
<!-- End of Footer -->
<div th:replace="design/script :: scripts"></div>
	<!-- Custom scripts for all expenses-->
	<script th:src="@{/js/demo/scriptExpense.js}"></script>

<script type='text/javascript'>
$(function(){
    $(document).bind("contextmenu",function(e){
        return false;
    });
});
</script>
</body>
</html>








