<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="design/header :: head">

</head>

<body class="bg-gradient-primary">
    <!-- Mostrar el mensaje si está presente -->
    <div th:if="${message}" id="notificationMessage"
        th:classappend="${messageType == 'success'} ? 'alert alert-success' : 'alert alert-danger'"
        style="padding: 10px; margin-bottom: 15px; border-radius: 5px;">
        <span th:text="${message}"></span>
    </div>
<div class="container" style="max-width: 800px;">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div>
                <div>
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4" th:if="${perfil.id==0}">Register Role</h1>
                            <h1 class="h4 text-gray-900 mb-4" th:if="${perfil.id!=0}">Edit Role</h1>
                        
                        </div>
                        <div th:if="${perfilGuardado == null}">
                        <form class="user" th:action="@{/perfil}" th:method="post" th:object="${perfil}">
                            <input type="hidden" th:if="${perfil.id!=0}" th:field="*{id}" th:value="${perfil.id}">
                            <div class="form-group">
                                <input th:field="*{name}" type="text" class="form-control form-control-user"
                                       id="inputname"
                                       placeholder="Role Name">
                            </div>
                            
                            <button  id="btnform-rol" class="btn btn-primary btn-user btn-block" >
                                SAVE ROLE
                            </button>
                            <div class="text-center">
                                <a class="medium" href="/home">GO BACK!</a>
                            </div>

                        </form>
                        </div>
                        <!-- Mostrar información del rol guardado -->
                        <div class="text-center">
	                        <div th:if="${perfilGuardado != null}">
							<p  th:if="${perfil.id==0}">Role saved successfully</p>
							    <!-- <p>ID: <span th:text="${perfilGuardado.id}"></span></p>-->
							    <p>Role Name: <span th:text="${perfilGuardado.name}"></span></p>
						<!-- Formulario para asignar permisos -->
						
							    <form class="user" th:action="@{/perfil/guardar-permisos}" th:method="post">
							    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
							    <input type="hidden" th:value="${perfilGuardado.id}" name="rolId"/>
							
							    <div class="form-group">
							        <label>Assign Permissions:</label>
							        <table class="table table-bordered">
							            <thead>
							                <tr>
							                    <th></th>
							                    <th>Menu</th>
							                    <th>Create</th>
							                    <th>Read</th>
							                    <th>Edit</th>
							                    <th>Delete</th>
							                </tr>
							            </thead>
							            <tbody>
							            
							                <!-- Iterar sobre los menús  -->
											<tr th:each="menu : ${menus}" style="padding-top: 1px; padding-bottom: 1px; background-color: rgb(128, 128, 128); color: white;">
										    <td th:if="${menu.url} != '/'" style="padding-top: 1px; padding-bottom: 1px;">
										        <input type="checkbox" 
										               th:id="'menuCheckbox-' + ${menu.id}" 
										               th:onclick="|togglePermissions(${menu.id})|"/>
										    </td>
											    <td th:text="${menu.url != '/' ? '  ->' + menu.nombre : menu.nombre}" style="text-align: left;padding-top: 1px; padding-bottom: 1px;"></td>
												<td th:if="${menu.url} != '/'" style="padding-top: 1px; padding-bottom: 1px;">
												        <input type="checkbox" 
												               th:id="'crearCheckbox-' + ${menu.id}" 
												               th:name="'permisos[' + ${menu.id} + '][CREATE]'"/>
												    </td>
												    <td th:if="${menu.url} != '/'" style="padding-top: 1px; padding-bottom: 1px;">
												        <input type="checkbox" 
												               th:id="'leerCheckbox-' + ${menu.id}" 
												               th:name="'permisos[' + ${menu.id} + '][READ]'"/>
												    </td>
												    <td th:if="${menu.url} != '/'" style="padding-top: 1px; padding-bottom: 1px;">
												        <input type="checkbox" 
												               th:id="'editarCheckbox-' + ${menu.id}" 
												               th:name="'permisos[' + ${menu.id} + '][UPDATE]'"/>
												    </td>
												    <td th:if="${menu.url} != '/'" style="padding-top: 1px; padding-bottom: 1px;">
												        <input type="checkbox" 
												               th:id="'eliminarCheckbox-' + ${menu.id}" 
												               th:name="'permisos[' + ${menu.id} + '][DELETE]'"/>
												    </td>
											</tr>
											
<!-- 
			<tr th:each="menu : ${menus}">
            <td>
                <input type="checkbox" 
                       th:id="'menuCheckbox-' + ${menu.id}" 
                       th:onclick="|togglePermissions(${menu.id})|"/>
            </td>
            <td th:text="${menu.nombre}"></td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr th:each="subMenu : ${menu.subMenus}">
            <td>
                <input type="checkbox" 
                       th:id="'subMenuCheckbox-' + ${subMenu.id}" 
                       th:onclick="|togglePermissions(${subMenu.id})|"/>
            </td>
            <td th:text="${subMenu.nombre}"></td>
            <td>
                <input type="checkbox" 
                       th:id="'subCrearCheckbox-' + ${subMenu.id}" 
                       th:name="'permisos[' + ${subMenu.id} + '][CREATE]'"/>
            </td>
            <td>
                <input type="checkbox" 
                       th:id="'subLeerCheckbox-' + ${subMenu.id}" 
                       th:name="'permisos[' + ${subMenu.id} + '][READ]'"/>
            </td>
            <td>
                <input type="checkbox" 
                       th:id="'subEditarCheckbox-' + ${subMenu.id}" 
                       th:name="'permisos[' + ${subMenu.id} + '][UPDATE]'"/>
            </td>
            <td>
                <input type="checkbox" 
                       th:id="'subEliminarCheckbox-' + ${subMenu.id}" 
                       th:name="'permisos[' + ${subMenu.id} + '][DELETE]'"/>
            </td>
        </tr>		
          -->
							
							            </tbody>
							        </table>
							    </div>
							     <!-- Mostrar mensaje de error si existe -->
	                            <div th:if="${error}" class="alert alert-danger" role="alert" style="color: red;">
	                                <p th:text="${error}"></p>
	                            </div>
								    <button id="btnform-rolMenu" class="btn btn-primary btn-user btn-block">
								        SAVE PERMISSIONS								    </button>
								</form>
                
                        	</div>
						</div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div th:replace="design/script :: scripts"></div>
<script>
    // Función para habilitar/deshabilitar los permisos según si el menú está seleccionado
/*function togglePermissions(menuId) {
	   const subMenuCheckboxes = document.querySelectorAll(`input[id^='subMenuCheckbox-${menuId}']`);
	    const isChecked = document.getElementById(`menuCheckbox-${menuId}`).checked;

	    subMenuCheckboxes.forEach((checkbox) => {
	        checkbox.checked = isChecked; // Marcar o desmarcar todos los submenús
	        const subCrearCheckbox = document.getElementById(`subCrearCheckbox-${checkbox.id.split('-')[1]}`);
	        const subLeerCheckbox = document.getElementById(`subLeerCheckbox-${checkbox.id.split('-')[1]}`);
	        const subEditarCheckbox = document.getElementById(`subEditarCheckbox-${checkbox.id.split('-')[1]}`);
	        const subEliminarCheckbox = document.getElementById(`subEliminarCheckbox-${checkbox.id.split('-')[1]}`);

	        // Deshabilitar permisos
	        subCrearCheckbox.disabled = !isChecked;
	        subLeerCheckbox.disabled = !isChecked;
	        subEditarCheckbox.disabled = !isChecked;
	        subEliminarCheckbox.disabled = !isChecked;
	    });
}*/
	function togglePermissions(menuId) {
	    const menuCheckbox = document.getElementById(`menuCheckbox-${menuId}`);
	    const isChecked = menuCheckbox.checked;
	
	    const crearCheckbox = document.getElementById(`crearCheckbox-${menuId}`);
	    const leerCheckbox = document.getElementById(`leerCheckbox-${menuId}`);
	    const editarCheckbox = document.getElementById(`editarCheckbox-${menuId}`);
	    const eliminarCheckbox = document.getElementById(`eliminarCheckbox-${menuId}`);
	
	    // Deshabilitar permisos
	    crearCheckbox.disabled = !isChecked;
	    leerCheckbox.disabled = !isChecked;
	    editarCheckbox.disabled = !isChecked;
	    eliminarCheckbox.disabled = !isChecked;
	    
	
	    if (isChecked) {
	        leerCheckbox.checked = true;
	        leerCheckbox.disabled = true;
	    } else {
	        crearCheckbox.checked = false;
	        leerCheckbox.checked = false;
	        editarCheckbox.checked = false;
	        eliminarCheckbox.checked = false
	        
	        crearCheckbox.disabled = true;
	        leerCheckbox.disabled = true;
	        editarCheckbox.disabled = true;
	        eliminarCheckbox.disabled = true;
	        
	        
	    }
	}


</script>
</body>

</html>