<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="design/header :: head">
</head>

<body class="bg-vista-edit-registro" id="page-top"  onload="hideMessage()">
    <div class="container"  style="max-width: 600px;">
        <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div>
                <div>
                    <div class="p-5">
                        <div class="text-center">
					        <h1 class="h4 text-gray-900 mb-4" >User Details</h1>
						</div>
					        <div class="info-card">
					            <div class="info-item" >
					                <label >Username:</label>
					               <p th:text="${userAdm.usernamee}">john_doe</p>
					                
					            </div>
					            <div class="info-item">
					                <label class="form-label">Full name:</label>
					                <strong><p th:text="${userAdm.fullname}">John Doe</p>
					                </strong>
					            </div>
					            <div class="info-item">
					                <label class="form-label">Email:</label>
					                <strong><p th:text="${userAdm.email}">john.doe@example.com</p>
					                </strong>
					            </div>
					            <div class="info-item">
					                <label class="form-label">Registration Date:</label>
					                <strong><p class="date" th:text="${userAdm.dateCreation}">12 de marzo de 2023</p>
					                </strong>
					                <strong><p th:text="${userAdm.estado == 'V' ? 'ACTIVE' : 'INACTIVE'}">john.doe@example.com</p>
					                </strong>
					            </div>
					            <div class="info-item">
					                <label class="form-label">Assigned Role:</label>
					                <p th:text="${userAdm.perfil.name}">Administrador</p>
					            </div>
                            </div>
                            <div class="info-card">
                            	 <div class="info-item">
					                <label class="form-label">Assigned Permissions:</label>
					            </div>
					            <div class="py-2 collapse-inner rounded">
								    <li th:each="menuRole : ${menuRoles2}" class="nav-item active">
								        
								            <span class="material-symbols-outlined" th:text="${menuRole.menu.icono}"></span>
								            <span th:text="${menuRole.menu.nombre}"></span> 
								        
								        <!-- Acceso a submenús -->
								        <ul th:if="${menuRole.menu.subMenus.size() > 0}">
								            <li th:each="subMenu : ${menuRole.menu.subMenus}" class="nav-item">
								                    <span class="material-symbols-outlined" th:text="${subMenu.icono}"></span>
								                    <span th:text="${subMenu.nombre}"></span> 
								                    <span th:if="${menuRole.aread}" >(Leer)</span>
								                    <span th:if="${menuRole.acreate}" >(Crear)</span>
								                    <span th:if="${menuRole.aupdate}" >(Editar)</span>
								                    <span th:if="${menuRole.adelete}" >(Eliminar)</span>
								                    
								            </li>
								        </ul>
								    </li>
								</div>
    
                            </div>
                	</div>
            	</div>
       	 </div>
    	</div>

	</div>

        <!-- Roles del usuario -->
        <div class="text-center">
            <a class="medium" href="/lista-usuarios">GO BACK!</a>
        </div>

    </div>
<div th:replace="design/script :: scripts"></div>

</body>

</html>