/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0; /* Fondo plomo claro */
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        .error-box {
            background-color: #ffffff; /* Fondo blanco dentro del recuadro */
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 500px;
            width: 100%;
        }
        h1 {
            font-size: 2.5em;
            color: #ff6347;
            margin-bottom: 20px;
        }
        p {
            font-size: 1.2em;
            color: #333;
            margin-bottom: 20px;
        }
        a {
            font-size: 1.1em;
            text-decoration: none;
            color: #007bff;
            display: block;
            margin-top: 10px;
        }
        a:hover {
            text-decoration: underline;
        }