/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */


body {
    background: #ecf0f3;
}
.bg-sistemasIntegrales{
	background: rgb(228, 228, 228);
}
 body.bg-vista-edit-registro {
            background: linear-gradient(to right, rgb(0, 157, 224), rgb(0, 100, 150));
        }
#body_fondo {
    background-image: url('/imagenes/fondo_inicio.png'); /* Ruta relativa desde el CSS */
    background-size: cover;  /* Hace que la imagen ocupe toda la pantalla */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
    }
 
#notificationMessage {
    transition: opacity 1s ease-in-out;
}

#notificationMessage.hidden {
    opacity: 0;
}

/* General Styles */
body {
    font-family: "Nunito", Arial, sans-serif;
    background-color: #f8f9fc;
    color: #5a5c69;
    margin: 0;
    padding: 0;
}

.container {
    margin: 30px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: rgb(0,157, 224);
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    color: rgb(0,157, 224);
    font-weight: 600;
    margin-bottom: 20px;
}
h6{
   
   color: rgb(0,157, 224);
}
/* User Info Card */
.info-card {
    border: 1px solid #d1d3e2;
    border-radius: 8px;
    padding: 20px;
    background-color: #f8f9fc;
    margin-bottom: 20px;
}

.info-card .info-item {
    margin-bottom: 15px;
}

.info-card .info-item label {
    
    color: rgb(128, 128, 128);
    display: block;
    margin-bottom: 5px;
}

.info-card .info-item p {
    font-size: 1rem;
    color: rgb(128, 128, 128);
    margin: 0;
    font-weight: bold;
    margin-left: 5px;
}

/* User Roles or Tags */
.user-roles {
    margin-top: 20px;
}

.user-roles .role {
    display: inline-block;
    background-color: #4e73df;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 0.9rem;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #4e73df;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #2e59d9;
}

.btn-secondary {
    background-color: #858796;
    color: white;
    border: none;
}

.btn-secondary:hover {
    background-color: #6c6d7d;
}

/* Formatted date */
.info-card .info-item .date {
    font-size: 1rem;
    color: rgb(128, 128, 128);
    font-weight: bold;
    
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

.row {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        }
.col {
            flex: 0 0 50%;
            padding: 0 15px;
            box-sizing: border-box;
        }
        
/* Row with minimal padding */
.row-header-max {
    display: flex;
    flex-wrap: wrap;
    margin: 0; /* Eliminamos el margen negativo */
    padding: 0; /* Mínimo padding */
    font-size: 14px; /* Tamaño de letra pequeño */
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);     
}
/* Row with minimal padding */
.row-header {
    display: flex;
    flex-wrap: wrap;
    margin: 0; /* Eliminamos el margen negativo */
    padding: 0; /* Mínimo padding */
    font-size: 14px; /* Tamaño de letra pequeño */
}
/* Row with minimal padding */
.row-header-montos {
    display: flex;
    flex-wrap: wrap;
    margin: 0; /* Eliminamos el margen negativo */
    padding: 0; /* Mínimo padding */
    font-size: 14px; /* Tamaño de letra pequeño */
    justify-content: center; /* Centra horizontalmente los elementos hijos */
    text-align: center; /* Asegura que el texto dentro de las columnas esté centrado */
   	border:rgba(0, 0, 0, 0.1) 1px solid;
}  
/* Row with minimal padding */
.row-header-montos-secondary {
    display: flex;
    flex-wrap: wrap;
    margin: 0; /* Eliminamos el margen negativo */
    padding: 0; /* Mínimo padding */
    font-size: 14px; /* Tamaño de letra pequeño */
    justify-content: left; /* Centra horizontalmente los elementos hijos */
    text-align: center; /* Asegura que el texto dentro de las columnas esté centrado */
   	border:rgba(0, 0, 0, 0.1) 1px solid;
} 
/* Column with minimal padding */
.col-header {
    flex: 0 0 50%; /* Ocupa el 50% de ancho */
    padding: 0; /* Mínimo padding */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Paragraph with 10px font size */
.p-header {
    margin: 0; /* Elimina el margen por defecto del párrafo */
    padding: 0; /* Mínimo padding */
}


/* Para la superposición y el spinner*/        
 #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

#spinner {
    text-align: center;
    color: white; /* Color del texto */
}

#spinner img {
    width: 50px; /* Ajusta el tamaño del spinner */
    height: 50px;
}

.td-montos{
	text-align:right;
}
 /*BOTONES CON ESTILO DE SISTEMAS INTEGRALES*/ 
 .text-sistemasIntegrales {
    color: rgb(0,157, 224);
}

 .text-sistemasIntegralesBtn {
    color: rgb(51,153, 255);
}

 .text-sistemasIntegralesNav {
    color: rgb(64,64, 64);
}
.custom-hover-sistemasIntegrales:hover {
    background-color: rgb(228, 228, 228) !important; /* Cambia el fondo al pasar el mouse */
    color: rgb(0,157, 224)!important;
}

.text-negativo {
    color: red;
}
/* Table for details*/
table-details {
  table-layout: fixed;
  width: 95%;
  border-collapse: collapse;
  border: 3px solid purple;
  font-size: 14px;
}

.td-details{
	text-align:right;
	
}

/* Row with minimal padding */
.row-details {
	margin: 0;
    padding: 0; /* Mínimo padding */
    font-size: 14px; /* Tamaño de letra pequeño */
}
.btn-ancho{
	width:147px;
	font-size:13px !important;
}
.table-descargo{
	width:80% !important;
}
          
.td-details-descargo { 
	margin: 0;
    padding: 0; /* Mínimo padding */
    font-size: 13px; /* Tamaño de letra pequeño */
}
          

.th-details-descargo { 
	margin: 0;
    padding: 0; /* Mínimo padding */
    font-size: 13px; /* Tamaño de letra pequeño */
    
}
.td-details-descargo2 { 
	margin: 0 0 0 0 !important;
    padding: 0; /* Mínimo padding */
    font-size: 13px; /* Tamaño de letra pequeño */
}

   